<span class="order-2 md:order-1 flex-none mr-6 tabular-nums">
  <%= l(object.date, format: :number) %>
</span>
<% case object %>
<% when Invoice %>
  <span class="order-1 md:order-2 w-full flex grow justify-between items-center">
    <span>
      <%= t(".invoice_info_html", document_name: object.document_name, id: object.id, type: display_entity(object, link: false)) %>
    </span>
    <span>
      <%= link_to rails_blob_path(object.pdf_file, disposition: "attachment") do %>
        <%= icon "document-arrow-down", class: "size-5" %>
      <% end %>
    </span>
  </span>
  <span class="order-3 flex-none text-right w-28 tabular-nums">
    <%= cur(object.amount) %>
  </span>
<% when Payment %>
  <span class="order-1 w-full grow">
    <% if object.amount.positive? %>
      <% if object.invoice %>
        <%= t(".payment_info_html", invoice_id: object.invoice_id, invoice_type: display_entity(object.invoice, link: false)) %>
      <% else %>
        <%= t(".manual_payment_info") %>
      <% end %>
    <% else %>
      <%= t(".refund_info") %>
    <% end %>
  </span>
  <span class="order-3 flex-none text-right w-28">
    <%= cur(-object.amount) %>
  </span>
<% end %>
