<h1><%= t(".billing") %></h1>

<section>
  <ul class="flex flex-row flex-wrap justify-center space-x-4">
    <% balance = current_member.balance_amount %>
    <% if balance >= 0 %>
      <li
        class="
          flex flex-1 flex-col items-center rounded-sm border
          border-gray-200 p-2 text-center dark:border-gray-700
        "
      >
        <span class="my-auto flex flex-col">
          <span class="text-sm text-gray-400"><%= t(".credit_amount") %></span>
          <span class="whitespace-nowrap text-xl font-medium"><%= cur(balance) %></span>
        </span>
      </li>
    <% else %>
      <li
        class="
          align-center flex flex-1 flex-col rounded-sm border
          border-gray-200 p-2 text-center dark:border-gray-700
        "
      >
        <span class="my-auto flex flex-col">
          <span class="text-sm text-gray-400"><%= t(".missing_amount") %></span>
          <span class="whitespace-nowrap text-xl font-medium text-red-500"><%= cur(-balance) %></span>
        </span>
      </li>
    <% end %>
    <% if Current.org.annual_fee? || current_member.annual_fee&.positive? %>
      <li
        class="
          flex flex-1 flex-col rounded-sm border border-gray-200 p-2
          text-center dark:border-gray-700
        "
      >
        <span class="my-auto flex flex-col">
          <span class="text-sm text-gray-400"><%= t(".annual_fee") %></span>
          <span class="text-xl font-medium"><%= cur(current_member.annual_fee) %></span>
        </span>
      </li>
    <% end %>
    <% if Current.org.share? %>
      <li
        class="
          flex flex-1 flex-col rounded-sm border border-gray-200 p-2
          text-center dark:border-gray-700
        "
      >
        <span class="my-auto flex flex-col">
          <span class="text-sm text-gray-400"><%= t(".shares") %></span>
          <span class="text-xl font-medium"><%= current_member.shares_number %></span>
        </span>
      </li>
    <% end %>
    <li
      class="
        flex flex-1 flex-col rounded-sm border border-gray-200 p-2
        text-center dark:border-gray-700
      "
    >
      <span class="my-auto flex flex-col">
        <span class="text-sm text-gray-400"><%= Membership.human_attribute_name(:billing_year_division) %></span>
        <span class="whitespace-nowrap text-xl font-medium">
          <%= t("billing.year_division.x#{@membership&.billing_year_division || 1}") %>
        </span>
      </span>
    </li>
  </ul>
  <% if membership = current_member.current_year_membership || current_member.future_membership %>
    <div
      class="
        mt-4 flex-col rounded-sm border border-gray-200 p-2 px-4
        dark:border-gray-700
      "
      data-controller="hover"
      data-action="mouseenter->hover#show mouseleave->hover#hide"
      data-hover-id-value="<%= dom_id(membership) %>"
    >
      <div class="whitespace-nowrap text-center text-xl">
        <%= "#{Membership.model_name.human} #{membership.fiscal_year}" %>
      </div>
      <ul class="mt-4 w-full space-y-1">
        <li class="flex w-full flex-row flex-wrap items-center justify-between">
          <span class="font-light"><%= Basket.model_name.human(count: membership.baskets_count) %></span>
          <span class="grow text-right tabular-nums">
            <%= display_price_description(membership.basket_sizes_price, basket_sizes_price_info(membership, membership.baskets)) %>
          </span>
        </li>
        <% if membership.baskets_annual_price_change.nonzero? %>
          <li
            class="
              flex w-full flex-row flex-wrap items-center justify-between
              border-t border-dotted border-gray-200 dark:border-gray-800
            "
          >
            <span class="font-light"><%= t("invoices.pdf.baskets_annual_price_change") %></span>
            <span class="grow whitespace-nowrap text-right tabular-nums">
              <%= cur(membership.baskets_annual_price_change, unit: false) %>
            </span>
          </li>
        <% end %>
        <% if membership.basket_complements.any? && membership.basket_complements_price.nonzero? %>
          <li
            class="
              flex w-full flex-row flex-wrap items-center justify-between
              border-t border-dotted border-gray-200 dark:border-gray-800
            "
          >
            <span class="font-light">
              <%= MembershipsBasketComplement.model_name.human(count: membership.basket_complements.count) %>
            </span>
            <span class="grow whitespace-nowrap text-right tabular-nums">
              <%= display_price_description(membership.basket_complements_price, membership_basket_complements_price_info(membership)) %>
            </span>
          </li>
        <% end %>
        <% if membership.basket_complements_annual_price_change.nonzero? %>
          <li
            class="
              flex w-full flex-row flex-wrap items-center justify-between
              border-t border-dotted border-gray-200 dark:border-gray-800
            "
          >
            <span class="font-light"><%= t("invoices.pdf.basket_complements_annual_price_change") %></span>
            <span class="grow whitespace-nowrap text-right tabular-nums">
              <%= cur(membership.baskets_annual_price_change, unit: false) %>
            </span>
          </li>
        <% end %>
        <% if feature?("basket_price_extra") && (membership.basket_price_extra.nonzero? || membership.baskets.any? { |b| b.price_extra.nonzero? }) %>
          <li
            class="
              flex w-full flex-row flex-wrap items-center justify-between
              border-t border-dotted border-gray-200 dark:border-gray-800
            "
          >
            <span class="me-2 font-light"><%= Current.org.basket_price_extra_title %></span>
            <span class="grow whitespace-nowrap text-right tabular-nums">
              <% description = baskets_price_extra_info(membership, membership.baskets) %>
              <%= display_price_description(membership.baskets_price_extra, description) %>
            </span>
          </li>
        <% end %>
        <% if membership.depots_price.nonzero? %>
          <li
            class="
              flex w-full flex-row flex-wrap items-center justify-between
              border-t border-dotted border-gray-200 dark:border-gray-800
            "
          >
            <span class="font-light"><%= Depot.model_name.human(count: membership.baskets_count) %></span>
            <span class="grow text-right tabular-nums">
              <%= display_price_description(membership.depots_price, depots_price_info(membership.baskets)) %>
            </span>
          </li>
        <% end %>
        <% if membership.deliveries_price.nonzero? %>
          <li
            class="
              flex w-full flex-row flex-wrap items-center justify-between
              border-t border-dotted border-gray-200 dark:border-gray-800
            "
          >
            <span class="font-light"><%= Delivery.model_name.human(count: membership.baskets_count) %></span>
            <span class="grow text-right tabular-nums">
              <%= display_price_description(membership.deliveries_price, delivery_cycle_price_info(membership.baskets)) %>
            </span>
          </li>
        <% end %>
        <% if feature?("activity") && membership.activity_participations_annual_price_change.nonzero? %>
          <li
            class="
              flex w-full flex-row flex-wrap items-center justify-between
              border-t border-dotted border-gray-200 dark:border-gray-800
            "
          >
            <span class="font-light">
              <%= t_activity("active_admin.resource.show.activity_participations_annual_price_change") %>
            </span>
            <span class="grow whitespace-nowrap text-right tabular-nums">
              <%= cur(membership.activity_participations_annual_price_change, unit: false) %>
            </span>
          </li>
        <% end %>
        <li class="pt-1 text-right">
          <span class="w-full border-t border-gray-500 pt-1 tabular-nums">
            <%= cur(membership.price, format: "%u %n") %>
          </span>
        </li>
        <li class="pt-1 text-right">
          <span class="text-right font-light"><%= t(".already_invoiced") %></span>
          <span class="inline-block w-32">
            <span class="text-right tabular-nums"><%= cur(membership.invoices_amount, format: "- %n") %></span>
          </span>
        </li>
        <li class="text-right">
          <span class="text-right font-light"><%= t(".remaining_to_invoice") %></span>
          <span class="inline-block w-32">
            <span
              class="
                border-t border-gray-500 pt-1 text-right font-medium
                tabular-nums
              "
            >
              <%= cur(membership.missing_invoices_amount, format: "%u %n") %>
            </span>
          </span>
        </li>
      </ul>
    </div>
  <% end %>
</section>

<% if @open_invoices.any? %>
  <section>
    <h2><%= t(".open_invoices") %></h2>
    <ul class="mt-4">
      <% @open_invoices.each do |invoice| %>
        <li
          class="
            -mx-2 my-2 flex flex-row flex-wrap items-center justify-between
            rounded-sm bg-red-100 px-2 py-1 md:flex-nowrap dark:bg-red-900
          "
        >
          <%= render "line", object: invoice %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>

<section>
  <h2><%= t(".history") %></h2>

  <% if @billing_history.empty? %>
    <p class="mt-4 text-center italic text-gray-400 dark:text-gray-600">
      <%= t(".no_billing_history") %>
    </p>
  <% else %>
    <ul class="mt-4">
      <% history_limit = params[:all] ? 10_000 : 15 %>
      <% @billing_history.first(history_limit).each do |object| %>
        <li
          class="-mx-2 flex flex-row flex-wrap items-center justify-between rounded-sm px-2 py-1 hover:bg-gray-100 md:flex-nowrap dark:hover:bg-gray-800 <%= "line-through text-gray-300 dark:text-gray-700" if object.respond_to?(:canceled?) && object.canceled? %>"
          data-hover-id="<%= (object.is_a?(Invoice) && object.entity ? dom_id(object.entity) : nil) %>"
        >
          <%= render "line", object: object %>
        </li>
      <% end %>
    </ul>
    <% if @billing_history.size > history_limit %>
      <div class="md:w-none mt-6 w-full text-center">
        <%= link_to t(".show_all"), url_for(all: true, anchor: "billing_history"), class: "btn btn-sm" %>
      </div>
    <% end %>
  <% end %>

  <p class="mt-12 text-sm text-gray-400 dark:text-gray-600">
    <%= t(".explanation") %>
  </p>
</section>
