<h1><%= t(".billing") %></h1>

<section><%= render "summary" %><%= render "membership" %></section>

<% if @open_invoices.any? %>
  <section>
    <h2><%= t(".open_invoices") %></h2>

    <ul class="mt-4">
      <% @open_invoices.each do |invoice| %>
        <li
          class="
            -mx-2 my-2 flex flex-row flex-wrap items-center justify-between
            rounded-sm bg-red-100 px-2 py-1 md:flex-nowrap dark:bg-red-900
          "
        >
          <%= render "line", object: invoice %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>

<section id="billing_history">
  <h2><%= t(".history") %></h2>

  <% if @billing_history.empty? %>
    <p class="mt-4 text-center text-gray-400 italic dark:text-gray-500">
      <%= t(".no_billing_history") %>
    </p>
  <% else %>
    <ul class="mt-4">
      <% limit = params[:all_billing_history] ? 10_000 : 15 %>

      <% @billing_history.first(limit).each do |object| %>
        <li
          class="-mx-2 flex flex-row flex-wrap items-center justify-between rounded-sm px-2 py-1 hover:bg-gray-100 md:flex-nowrap dark:hover:bg-gray-800 <%= "line-through text-gray-300 dark:text-gray-600" if object.respond_to?(:canceled?) && object.canceled? %>"
          data-hover-id="<%= (object.is_a?(Invoice) && object.entity ? dom_id(object.entity) : nil) %>"
        >
          <%= render "line", object: object %>
        </li>
      <% end %>
    </ul>
    <%= render "members/shared/show_all_button", collection: @billing_history, limit: limit, anchor: "billing_history" %>
  <% end %>

  <p class="mt-12 text-sm text-gray-400 dark:text-gray-500">
    <%= t(".explanation") %>
  </p>

  <%= render "sepa" %>
</section>
