<h1><%= t("members.members.form_modes.membership.title") %></h1>

<section>
  <h2><%= t(".title") %></h2>

  <div class="mt-2 mb-8 space-y-2">
    <% last_trial_basket = @membership.baskets.trial.order("deliveries.date").last %>

    <p class="justify">
      <%= t(".text_html", last_trial_date: content_tag(:u, l(last_trial_basket.delivery.date))) %>
    </p>

    <p class="justify text-sm text-gray-500 italic dark:text-gray-400">
      <%= t(".contact_for_immediate_cancelation_html", contact_link: mail_to(Current.org.email, t(".contact_link"))) %>
    </p>
  </div>

  <%= simple_form_for @membership, url: members_trial_cancelation_path, method: :post do |f| %>
    <div class="space-y-6">
      <%= f.input :renewal_note, as: :text, label: t(".cancelation_note_label"), placeholder: t(".renewal_note_placeholder"), input_html: { rows: 3 } %>

      <% if Current.org.annual_fee? %>
        <% price_tag = content_tag(:span, cur(Current.org.annual_fee, precision: 0), class: "ml-auto text-lg whitespace-nowrap text-gray-400 dark:text-gray-600")
          label = t(".renewal_annual_fee_label_html", price_tag: price_tag) %>
        <div class="check_boxes">
          <div class="checkbox">
            <%= f.input :renewal_annual_fee, as: :boolean, label: label, label_html: { class: "justify-between" } %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="actions">
      <%= link_to t(".cancel"), members_memberships_path, class: "cancel-link" %>
      <%= f.button :submit, t(".submit") %>
    </div>
  <% end %>
</section>
