<div class="panel mt-2">
  <div class="panel-title pb-1 text-center text-2xl">
    <h1><%= set_page_title t(".title") %></h1>
  </div>

  <div class="panel-body">
    <p class="px-2 text-sm text-gray-500"><%= t(".form_text") %></p>

    <%= semantic_form_for @session, as: :session, html: { data: { turbo: false } } do |f| %>
      <ol class="list-none p-2">
        <%= f.input :email, label: t(".email_input"), required: true %>
        <%= cap_token_field %>

        <%= tag.li class: "actions mt-2", data: cap_submit_tooltip_data do %>
          <%= button_tag type: "submit", data: cap_submit_tooltip_target_data do %>
            <%= icon "send-horizontal", class: "size-5" %>
            <span><%= t(".submit") %></span>
          <% end %>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>

<% if Tenant.demo? %>
  <div class="mt-4 text-center text-sm text-gray-500">
    <%= t(".no_account_html", register_url: new_demo_registration_path) %>
  </div>
<% end %>
