<h1><%= t(".title") %></h1>

<section>
  <%= simple_form_for current_member, url: members_account_path do |f| %>
    <div class="space-y-6">
      <%= f.input :name, hint: t(".name_hint"), label: t("members.members.new.name") %>
      <%= f.input :street, required: true %>

      <div class="flex w-full flex-row gap-2">
        <%= f.input :zip, required: true, input_html: { size: 6, maxlength: 6 }, wrapper_html: { class: "w-24" } %>
        <%= f.input :city, required: true, wrapper_html: { class: "grow" } %>
      </div>

      <%= f.input :country_code, as: :select, required: true, collection: countries_collection %>
      <%= f.input :emails, as: :string, hint: t(".emails_hint", session_email: current_session.email), required: true %>
      <%= f.input :phones, as: :string, required: true %>
    </div>

    <div data-controller="visibility" class="my-6" aria-label="Billing">
      <%= f.input :different_billing_info, as: :boolean, input_html: { data: { action: "visibility#toggle" } } %>

      <div
        class="mt-4 space-y-4 <%= f.object.different_billing_info ? "" : "hidden" %>"
        data-visibility-target="element"
      >
        <%= f.input :billing_name, label: Member.human_attribute_name(:name), required: true, input_html: { disabled: !f.object.different_billing_info } %>
        <%= f.input :billing_street, label: Member.human_attribute_name(:address), required: true, input_html: { disabled: !f.object.different_billing_info } %>

        <div class="flex w-full flex-row gap-2">
          <%= f.input :billing_zip, required: true, label: Member.human_attribute_name(:zip), input_html: { disabled: !f.object.different_billing_info, size: 6, maxlength: 6 }, wrapper_html: { class: "w-24" } %>
          <%= f.input :billing_city, required: true, label: Member.human_attribute_name(:city), input_html: { disabled: !f.object.different_billing_info }, wrapper_html: { class: "grow" } %>
        </div>
      </div>
    </div>

    <% if current_member.use_shop_depot? %>
      <div class="mt-8">
        <%= render "members/members/form_modes/shop", f: f %>
      </div>
    <% end %>

    <hr class="my-6 border-gray-200 dark:border-gray-700">

    <% if Current.org.languages.many? %>
      <%= f.input :language, as: :select, collection: Current.org.languages.map { |l| [ t("languages.#{l}"), l ] }, required: true, prompt: true %>
    <% end %>

    <div class="mt-6 mb-12">
      <%= render "shared/icon_select",
        name: "member[theme]",
        value: f.object.theme,
        options: theme_icon_select_options,
        label_text: Member.human_attribute_name(:theme),
        required: true,
        wrapper_class: "input" %>
    </div>

    <div class="actions">
      <%= link_to t(".cancel_link"), members_account_path, class: "cancel-link" %>
      <%= f.button :submit, t(".submit") %>
    </div>
  <% end %>
</section>
