<h1><%= t(".title") %></h1>

<section>
  <ul class="space-y-4">
    <li class="flex flex-row items-center gap-4">
      <%= icon "hashtag", class: "flex-none size-5 mx-0.5" %>
      <span><%= current_member.id %></span>
    </li>

    <li class="flex flex-row gap-4">
      <%= icon "identification", class: "flex-none size-6" %>
      <span><%= current_member.name %></span>
    </li>

    <li class="flex flex-row gap-4">
      <%= icon "map", class: "flex-none size-6" %>
      <span><%= display_address(current_member) %></span>
    </li>

    <li class="flex flex-row gap-4">
      <%= icon "envelope", class: "flex-none size-6" %>
      <span><%= display_emails(current_member) %></span>
    </li>

    <li class="flex flex-row gap-4">
      <%= icon "phone", class: "flex-none size-6" %>

      <% if current_member.phones_array.any? %>
        <span><%= display_phones(current_member) %></span>
      <% else %>
        <span class="text-gray-300 italic dark:text-gray-600">
          <%= t(".no_phones") %>
        </span>
      <% end %>
    </li>

    <% if current_member.different_billing_info %>
      <li class="flex flex-row gap-4">
        <%= icon "banknotes", class: "flex-none size-6" %>

        <span>
          <%= current_member.billing_name %>
          <br>
          <%= display_billing_address(current_member) %>
        </span>
      </li>
    <% end %>

    <% if current_member.use_shop_depot? %>
      <li class="flex flex-row gap-4 pt-6">
        <%= icon "shopping-basket", class: "flex-none size-6" %>

        <span>
          <% depot = current_member.shop_depot %>

          <% if depot.full_address %>
            <%= link_to "https://www.google.com/maps?q=#{depot.full_address}", title: depot.full_address, target: :blank, class: "hover:text-green-500" do %>
              <%= h depot.public_name %>
            <% end %>
          <% else %>
            <%= h depot.public_name %>
          <% end %>
        </span>
      </li>
    <% end %>

    <hr class="my-6 border-gray-200 dark:border-gray-700">

    <% if Current.org.languages.many? %>
      <li class="flex flex-row gap-4">
        <%= icon "language", class: "flex-none size-6" %>
        <span><%= t("languages.#{current_member.language}") %></span>
      </li>
    <% end %>

    <% theme = current_member.theme %>
    <% theme_icon = { "light" => "sun", "dark" => "moon" }.fetch(theme, "sun-moon") %>

    <li class="flex flex-row gap-4">
      <%= icon theme_icon, class: "flex-none size-6" %>
      <span><%= t("themes.#{theme}") %></span>
    </li>
  </ul>

  <div class="mt-8 flex w-full flex-col gap-4 md:max-w-max">
    <%= link_to t(".edit_link"), edit_members_account_path, class: "btn" %>
  </div>

  <div class="mt-12 flex flex-row justify-center md:justify-end">
    <%= link_to new_members_account_deletion_request_path, class: "flex items-center" do %>
      <%= icon "trash", class: "size-4" %>

      <span class="ml-1 text-sm font-normal">
        <%= t(".delete_account_link") %>
      </span>
    <% end %>
  </div>
</section>
