<h1 class="mt-2 mb-8 text-xl sm:text-2xl font-extrabold text-gray-900 dark:text-gray-100">
  <%= t(".title") %>
</h1>
<section>
  <ul class="space-y-4">
    <li class="flex flex-row items-center">
      <%= icon "hashtag", class: "size-5 mx-0.5" %>
      <span class="ml-4">
        <%= current_member.id %>
      </span>
    </li>
    <li class="flex flex-row items-center">
      <%= icon "identification", class: "size-6" %>
      <span class="ml-4">
        <%= current_member.name %>
      </span>
    </li>
    <li class="flex flex-row">
      <%= icon "map", class: "size-6" %>
      <span class="ml-4">
        <%= display_address(current_member) %>
      </span>
    </li>
    <li class="flex flex-row">
      <%= icon "envelope", class: "size-6" %>
      <span class="ml-4">
        <%= display_emails(current_member) %>
        <% if newsletter_unsubscribed? %>
          <%= button_to t(".subscribe_back_to_newsletter"), members_email_suppression_path, method: :delete, class: "mt-1 block text-left md:min-w-min min-w-full text-sm hover:text-green-500 underline" %>
        <% end %>
      </span>
    </li>
    <li class="flex flex-row">
      <%= icon "phone", class: "size-6" %>
      <% if current_member.phones_array.any? %>
        <span class="ml-4">
          <%= display_phones(current_member) %>
        </span>
      <% else %>
        <span class="ml-4 text-gray-300 dark:text-gray-700 italic">
          <%= t(".no_phones") %>
        </span>
      <% end %>
    </li>
    <% if Current.org.languages.many? %>
      <li class="flex flex-row">
        <%= icon "language", class: "size-6" %>
        <span class="ml-4">
          <%= t("languages.#{current_member.language}") %>
        </span>
      </li>
    <% end %>
    <% if current_member.use_shop_depot? %>
      <li class="pt-6 flex flex-row">
        <%= icon "shopping-basket", class: "size-6" %>
        <span class="ml-4">
          <% depot = current_member.shop_depot %>
          <% if depot.full_address %>
            <%= link_to "https://www.google.com/maps?q=#{depot.full_address}", title: depot.full_address, target: :blank, class: "hover:text-green-500" do %>
              <%= h depot.public_name %>
            <% end %>
          <% else %>
            <%= h depot.public_name %>
          <% end %>
        </span>
      </li>
    <% end %>
    <% if current_member.different_billing_info %>
      <li class="flex flex-row">
        <%= icon "banknotes", class: "size-6" %>
        <span class="ml-4">
          <%= current_member.billing_name %><br/>
          <%= display_billing_address(current_member) %>
        </span>
      </li>
    <% end %>
  </ul>
  <div class="flex mt-8 w-full md:max-w-max">
    <%= link_to t(".edit_link"), edit_members_account_path, class: "button md:min-w-min min-w-full text-center py-2 px-4 border border-gray-300 dark:border-gray-700 hover:border-green-500 hover:dark:border-green-500 hover:text-green-500 font-medium rounded-md focus:outline-hidden text-base cursor-pointer" %>
  </div>
</section>
