<p>Ihre Teilnahme an der folgenden Aktivität konnte nicht bestätigt werden:</p>

{% highlight_list %}
  <strong>Datum:</strong> {{ activity.date_long }}
  <strong>Zeiten:</strong> {{ activity.period }}
  <strong>Arbeit:</strong> {{ activity.title }}
  {% if activity.description %}
  <strong>Beschreibung:</strong> {{ activity.description }}
  {% endif %}
  {% if activity.place_url %}
  <strong>Ort:</strong> <a href="{{ activity.place_url }}" target="_black">{{ activity.place }}</a>
  {% elsif activity.place %}
  <strong>Ort:</strong> {{ activity.place }}
  {% endif %}
  <strong>Teilnehmer:</strong> {{ activity_participation.participants_count }}
{% endhighlight_list %}

{% if organization.activity_phone %}
  <p>Bei Fragen können Sie uns unter <strong>{{ organization.activity_phone }}</strong> erreichen oder einfach auf diese E-Mail antworten.</p>
{% endif %}

<p>Sie können sich auf Ihrer Mitgliederseite für andere Aktivitäten anmelden.</p>

{% button member.activities_url %}
  Zugang zu meiner Mitgliederseite
{% endbutton %}
