<p>Uw deelname aan de volgende activiteit kon niet worden gevalideerd:</p>

{% highlight_list %}
  <strong>Datum:</strong> {{ activity.date_long }}
  <strong>Schema:</strong> {{ activity.period }}
  <strong>Activiteit:</strong> {{ activity.title }}
  {% if activity.description %}
  <strong>Beschrijving:</strong> {{ activity.description }}
  {% endif %}
  {% if activity.place_url %}
  <strong>Locatie:</strong> <a href="{{ activity.place_url }}" target="_black">{{ activity.place }}</a>
  {% elsif activity.place %}
  <strong>Locatie:</strong> {{ activity.place }}
  {% endif %}
  <strong>Deelnemers:</strong> {{ activity_participation.participants_count }}
{% endhighlight_list %}

{% if organization.activity_phone %}
  <p>Als u vragen heeft, kunt u contact met ons opnemen via <strong>{{ organization.activity_phone }}</strong> of reageren op deze e-mail.</p>
{% endif %}

<p>U kunt zich inschrijven voor andere activiteiten vanaf uw ledenpagina.</p>

{% button member.activities_url %}
  Toegang tot mijn ledenpagina
{% endbutton %}
