<p>Un breve messaggio per ricordarvi la vostra iscrizione ad un'attività:</p>

{% highlight_list %}
  <strong>Data:</strong> {{ activity.date_long }}
  <strong>Orario:</strong> {{ activity.period }}
  <strong>Attività:</strong> {{ activity.title }}
  {% if activity.description %}
  <strong>Descrizione:</strong> {{ activity.description }}
  {% endif %}
  {% if activity.place_url %}
  <strong>Luogo:</strong> <a href="{{ activity.place_url }}" target="_black">{{ activity.place }}</a>
  {% elsif activity.place %}
  <strong>Luogo:</strong> {{ activity.place }}
  {% endif %}
  <strong>Partecipanti:</strong> {{ activity_participation.participants_count }}
{% endhighlight_list %}

<p>Avete una domanda? Potete contattarci al <strong>{{ acp.activity_phone }}</strong> o rispondere semplicemente a questo e-mail.</p>

{% if activity_participation.carpooling.size > 0 %}
  <p>Condivisione auto: i soci seguenti si spostano in automobile, non esitate a contattarli per un passaggio:</p>
  {% highlight %}
    <ul>
      {% for carpooling in activity_participation.carpooling %}
        <li><strong>{{ carpooling.member_name }}</strong>: {{ carpooling.member_phone }} {% if carpooling.leaving_from_city %}({{ carpooling.leaving_from_city }}){% endif %}</li>
      {% endfor %}
    </ul>
  {% endhighlight %}
{% endif %}

<p>In qualsiasi momento dalla vostra pagina di socio potete modificare l'iscrizione all'attività.</p>

{% button member.activities_url %}
  Accedere alla mia pagina di socio
{% endbutton %}
