<p>Leider konnte Ihre Teilnahme an der folgenden Aktivität nicht bestätigt werden. Ein Versäumnis vielleicht!?!</p>

{% highlight_list %}
  <strong>Datum:</strong> {{ activity.date_long }}
  <strong>Zeiten:</strong> {{ activity.period }}
  <strong>Arbeit:</strong> {{ activity.title }}
  {% if activity.description %}
  <strong>Beschreibung:</strong> {{ activity.description }}
  {% endif %}
  {% if activity.place_url %}
  <strong>Ort:</strong><a href="{{ activity.place_url }}" target="_black">{{ activity.place }}</a>
  {% elsif activity.place %}
  <strong>Ort:</strong>{{ activity.place }}
  {% endif %}
  <strong>Teilnehmer:</strong> {{ activity_participation.participants_count }}
{% endhighlight_list %}

<p>Sollten Sie in letzter Minute verhindert sein, dann rufen Sie uns bitte kurz an <strong>{{ acp.activity_phone }}</strong>. So warten wir nicht unnötig auf Sie.</p>

<p>Melden Sie sich auf Ihrer Mitgliederseite für andere Aktivitäten an.</p>

{% button member.activities_url %}
  Zugang zu meiner Mitgliederseite
{% endbutton %}
