<p>Sfortunatamente non è stato possibile convalidare la vostra partecipazione alla seguente attività. Si tratta forse di una svista!?!</p>

{% highlight_list %}
  <strong>Data:</strong> {{ activity.date_long }}
  <strong>Orario:</strong> {{ activity.period }}
  <strong>Attività:</strong> {{ activity.title }}
  {% if activity.description %}
  <strong>Descrizione:</strong> {{ activity.description }}
  {% endif %}
  {% if activity.place_url %}
  <strong>Luogo:</strong> <a href="{{ activity.place_url }}" target="_black">{{ activity.place }}</a>
  {% elsif activity.place %}
  <strong>Luogo:</strong> {{ activity.place }}
  {% endif %}
  <strong>Partecipanti:</strong> {{ activity_participation.participants_count }}
{% endhighlight_list %}
cela évite de vous faire attendre inutilement
<p>In caso di rinuncia all'ultimo minuto, si prega di contattateci al <strong>{{ acp.activity_phone }}</strong>, questo ci evita attese inutili.</p>

<p>Iscrivetevi ad altre attività dalla vostra pagina di socio.</p>

{% button member.activities_url %}
  Accedere alla mia pagina di socio
{% endbutton %}
