<p>Vi ringraziamo per la partecipazione alla seguente attività che è stata confermata!</p>

{% highlight_list %}
  <strong>Data:</strong> {{ activity.date_long }}
  <strong>Orario:</strong> {{ activity.period }}
  <strong>Attività:</strong> {{ activity.title }}
  {% if activity.description %}
  <strong>Descrizione:</strong> {{ activity.description }}
  {% endif %}
  {% if activity.place_url %}
  <strong>Luogo:</strong> <a href="{{ activity.place_url }}" target="_black">{{ activity.place }}</a>
  {% elsif activity.place %}
  <strong>Luogo:</strong> {{ activity.place }}
  {% endif %}
  <strong>Partecipanti:</strong> {{ activity_participation.participants_count }}
{% endhighlight_list %}

<p>Avete una domanda? Potete contattarci al <strong>{{ acp.activity_phone }}</strong> o rispondere semplicemente a questa e-mail.</p>

<p>Iscrivetevi ad altre attività dalla vosrta pagina di socio.</p>

{% button member.activities_url %}
  Accedere alla mia pagina di socio
{% endbutton %}
