<p>Your membership is now active.</p>

<p>Here are your membership details:</p>

{% highlight_list %}
  <strong>Start:</strong> {{ membership.start_date }}
  <strong>End:</strong> {{ membership.end_date }}
  <strong>Basket size:</strong> {{ membership.basket_size.name }}
  {% if membership.basket_complement_names %}
  <strong>Complements:</strong> {{ membership.basket_complement_names }}
  {% endif %}
  <strong>Depot:</strong> {{ membership.depot.name }}
  <strong>Number of trial baskets:</strong> {{ membership.trial_baskets_count }}
  <strong>Requested activity participations:</strong> {{ membership.activity_participations_demanded_count }}
{% endhighlight_list %}

<p>You can access your member page at any time to view your deliveries, manage absences, or update your information.</p>

{% button member.page_url %}
  Access my member page
{% endbutton %}
