<p>COMPILAMI!</p>

<p>Il vostro abbonamento è incomiciato o presto incomincerà, eccco alcune informazioni in più...</p>

{% highlight_list %}
  <strong>Inizio:</strong> {{ membership.start_date }}
  <strong>Fine:</strong> {{ membership.end_date }}
  <strong>Dimensione cesta:</strong> {{ membership.basket_size.name }}
  {% if membership.basket_complement_names %}
  <strong>Aggiunte:</strong> {{ membership.basket_complement_names }}
  {% endif %}
  <strong>Punto di ritiro:</strong> {{ membership.depot.name }}
  <strong>Numero di ceste in prova:</strong> {{ membership.trial_baskets_count }}
  <strong>Partecipazione alle attività domandate:</strong> {{ membership.activity_participations_demanded_count }}
{% endhighlight_list %}

{% button member.page_url %}
  Accedere alla mia pagina di socio
{% endbutton %}
