<p>Uw lidmaatschap is nu actief.</p>

<p>Hier zijn de details van uw lidmaatschap:</p>

{% highlight_list %}
  <strong>Start:</strong> {{ membership.start_date }}
  <strong>Einde:</strong> {{ membership.end_date }}
  <strong>Pakketgrootte:</strong> {{ membership.basket_size.name }}
  {% if membership.basket_complement_names %}
  <strong>Aanvullingen:</strong> {{ membership.basket_complement_names }}
  {% endif %}
  <strong>Depot:</strong> {{ membership.depot.name }}
  <strong>Aantal proefpakketten:</strong> {{ membership.trial_baskets_count }}
  <strong>Gevraagde activiteitsdeelnames:</strong> {{ membership.activity_participations_demanded_count }}
{% endhighlight_list %}

<p>U kunt op elk moment uw ledenpagina bezoeken om uw leveringen te bekijken, afwezigheden te beheren of uw gegevens bij te werken.</p>

{% button member.page_url %}
  Toegang tot mijn ledenpagina
{% endbutton %}
