<p>Ihr Abonnement ist jetzt aktiv.</p>

<p>Hier sind die Details Ihres Abonnements:</p>

{% highlight_list %}
  <strong>Anfang:</strong> {{ membership.start_date }}
  <strong>Ende:</strong> {{ membership.end_date }}
  <strong>Taschengrösse:</strong> {{ membership.basket_size.name }}
  {% if membership.basket_complement_names %}
  <strong>Zusätze:</strong> {{ membership.basket_complement_names }}
  {% endif %}
  <strong>Depot:</strong> {{ membership.depot.name }}
  <strong>Anzahl der Probetaschen:</strong> {{ membership.trial_baskets_count }}
  <strong>Geforderte Aktivitätsteilnahmen:</strong> {{ membership.activity_participations_demanded_count }}
{% endhighlight_list %}

<p>Sie können jederzeit auf Ihre Mitgliederseite zugreifen, um Ihre Lieferungen einzusehen, Abwesenheiten zu verwalten oder Ihre Informationen zu aktualisieren.</p>

{% button member.page_url %}
  Zugang zu meiner Mitgliederseite
{% endbutton %}
