<p><%= t(".registration_received_paragraph") %></p>

<p><%= t(".registration_validated_paragraph") %></p>

{% if waiting_list_position %}
  {% highlight %}
    <%= t(".waiting_list_position_label") %> <strong>{{ waiting_list_position }}</strong>
  {% endhighlight %}
{% endif %}

<p><%= t(".next_steps_paragraph") %></p>

{% if member.new_sepa_mandate_url %}
  {% unless member.sepa %}
    <p><%= t(".sepa_mandate_paragraph") %></p>
  {% endunless %}
{% endif %}

{% button member.page_url %}
  <%= t(".member_page_button") %>
{% endbutton %}
