<p>Il vostro abbonamento è ora attivo.</p>

<p>Ecco i dettagli del vostro abbonamento:</p>

{% highlight_list %}
  <strong>Inizio:</strong> {{ membership.start_date }}
  <strong>Fine:</strong> {{ membership.end_date }}
  <strong>Dimensione cesta:</strong> {{ membership.basket_size.name }}
  {% if membership.basket_complement_names %}
  <strong>Aggiunte:</strong> {{ membership.basket_complement_names }}
  {% endif %}
  <strong>Punto di ritiro:</strong> {{ membership.depot.name }}
  <strong>Numero di ceste in prova:</strong> {{ membership.trial_baskets_count }}
  <strong>Partecipazioni alle attività richieste:</strong> {{ membership.activity_participations_demanded_count }}
{% endhighlight_list %}

<p>Potete accedere alla vostra pagina di socio in qualsiasi momento per consultare le consegne, gestire le assenze o aggiornare le vostre informazioni.</p>

{% button member.page_url %}
  Accedere alla mia pagina di socio
{% endbutton %}
