<h1 class="mb-4 text-center"><%= t(".title") %></h1>

<div class="mt-2">
  <p><%= t(".text", features: member_features_sentence) %></p>
  <p class="mt-2"><%= t(".form_text") %></p>
</div>

<div class="mt-8">
  <%= simple_form_for [ :members, @session ] do |f| %>
    <div class="mt-8 flex flex-col">
      <%= f.input :email, as: :email, label_html: { class: "sr-only" }, input_html: {  required: true, placeholder: t(".email_placeholder") }, wrapper_html: { class: "grow" } %>

      <div class="actions mt-4"><%= f.button :submit, t(".submit") %></div>
    </div>
  <% end %>
</div>

<p class="mt-12 text-center text-sm text-gray-600 dark:text-gray-400">
  <%= t(".no_account_html", link: link_to(t(".register_link"), new_members_member_path)) %>
</p>
