{% if basket.shifted %}
  {% highlight %}
    <p><strong>📣 Important reminder!</strong></p>
    <p>You have <strong>{{ basket.quantity }} baskets</strong> to pick up this week:</p>
    <ul>
      <li>Your regular basket</li>
      {% for shift in basket.shifts %}
        <li>Basket shifted from {{ shift.old_delivery_date }}</li>
      {% endfor %}
    </ul>
  {% endhighlight %}
{% endif %}

{% content id: "intro" %}{% endcontent %}

{% if basket.contents.size > 0 and basket.quantity > 0 %}
  <h2>Basket Contents</h2>

  <span>{{ basket.description }}:</span>
  <ul>
    {% for content in basket.contents %}
      <li>{{ content.product }} ({{ content.quantity }})</li>
    {% endfor %}
  </ul>

  {% if basket.complements.size > 0 %}
    <p>Complement(s): {{ basket.complements_description }}</p>
  {% endif %}
{% endif %}

{% content id: "events", title: "Upcoming Events" %}{% endcontent %}

{% content id: "recipe", title: "Recipe" %}{% endcontent %}

{% if member.activities_url %}
  {% lowlight %}
    {% if future_activities.size > 0 %}
      <span>Here are the upcoming activities where we still need people:</span>
      <ul>
        {% assign activities = future_activities | slice: 0, 7 %}
        {% for activity in activities %}
          <li>{{ activity.date_long }}, {{ activity.period }}, {{ activity.title }}, {{ activity.place }}</li>
        {% endfor %}
      </ul>
      <br/>
    {% endif %}

    {% if coming_activity_participations.size > 0 %}
      <span>Your upcoming registrations:</span>
      <ul>
        {% for participation in coming_activity_participations %}
          <li>{{ participation.activity.date_long }}, {{ participation.activity.period }}, {{ participation.activity.title }}, {{ participation.activity.place }}</li>
        {% endfor %}
      </ul>
      <br/>
    {% endif %}

    {% if membership.activity_participations_missing_count > 0 %}
      <p>Considering your current registrations, you still have
        <strong>{{ membership.activity_participations_missing_count }}
          activity(s)</strong>
        to complete.</p>
    {% endif %}

    <p>
      Manage your registrations from
      <a href="{{ member.activities_url }}">your account</a>.
    </p>
  {% endlowlight %}
{% endif %}
