{% content id: 'intro' %}{% endcontent %}

{% if basket.contents.size > 0 %}
  <h2>Contenu panier</h2>

  <span>{{ basket.description }}:</span>
  <ul>
    {% for content in basket.contents %}
      <li>{{ content.product }} ({{ content.quantity }})</li>
    {% endfor %}
  </ul>

  {% if basket.complements.size > 0 %}
    <p>Complément(s): {{ basket.complements_description }}</p>
  {% endif %}
{% endif %}

{% content id: 'events', title: 'Événements à venir' %}{% endcontent %}

{% content id: 'recipe', title: 'La recette' %}{% endcontent %}

{% if member.activities_url %}
  {% lowlight %}
    <p>Voici les activités à venir pour lesquelles nous avons encore besoin de monde:</p>

    <ul>
      {% assign activities = future_activities | slice: 0, 7 %}
      {% for activity in activities %}
        <li>{{ activity.date_long }}, {{ activity.period }}, {{ activity.title }}, {{ activity.place }}</li>
      {% endfor %}
    </ul>
    <br/>
    <p>
      Gérez vos inscriptions depuis
      <a href="{{ member.activities_url }}">votre compte</a>.
    </p>

    {% if membership.activity_participations_missing_count > 0 %}
      <p>En tenant compte de vos inscriptions actuelles, il vous reste encore
        <span class="bold">{{ membership.activity_participations_missing_count }}</span>
        activité(s) à effectuer.</p>
    {% endif %}
  {% endlowlight %}
{% endif %}
