<% if flash_messages.present? %>
  <div class="mb-4 px-2 md:px-5 w-full">
    <% flash_messages.each do |type, message| %>
      <% if type == "error" %>
        <div class="flex items-center gap-2 p-3 mb-2 border border-dashed rounded-lg bg-red-50 text-red-800 border-red-800 dark:bg-red-800 dark:text-red-300 dark:border-red-300" aria-label="flash error">
          <%= icon "exclamation-circle", class: "w-5 h-5 shrink-0 rtl:-scale-x-100" %>
          <%= message %>
        </div>
      <% elsif type == "alert" %>
        <div class="flex items-center gap-2 p-3 mb-2 border border-dashed rounded-lg bg-yellow-50 text-yellow-800 border-yellow-800 dark:bg-yellow-800 dark:text-yellow-300 dark:border-yellow-300" aria-label="flash alert">
          <%= icon "information-circle", class: "w-5 h-5 shrink-0 rtl:-scale-x-100" %>
          <%= message %>
        </div>
      <% elsif type == "notice" %>
        <div class="flex items-center gap-2 p-3 mb-2 border border-dashed rounded-lg bg-green-50 text-green-800 border-green-800 dark:bg-green-800 dark:text-green-400 dark:border-green-300" aria-label="flash notice">
          <%= icon "information-circle", class: "w-5 h-5 shrink-0 rtl:-scale-x-100" %>
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
