<div class="bg-green-600 fixed w-full z-50 top-0 start-0 shadow-xs">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-2">
    <div class="flex grow order-1 md:hidden pl-4">
      <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center justify-center text-sm text-white/50 hover:text-white  dark:text-black/50 dark:hover:text-black rounded-lg md:hidden focus:outline-hidden focus:ring-2 focus:ring-gray-200 dark:focus:ring-gray-600" aria-controls="navbar-dropdown" aria-expanded="false">
        <%= icon "bars-3", class: "size-9" %>
        <span class="sr-only">Open main menu</span>
      </button>
    </div>
    <nav class="grow hidden w-full h-screen md:h-auto overflow-y-scroll md:block md:w-auto order-3 md:order-2 px-4" id="navbar-dropdown">
      <ul class="flex flex-col md:items-center text-sm font-medium mt-4 pb-32 md:mt-0 md:pb-0 space-y-1 md:space-y-0 md:space-x-2 md:flex-row">
        <% current_menu.items(self).each do |item| %>
          <% children = item.items(self).presence %>
          <li class="group text-base md:text-sm" data-item-id="<%= item.id %>">
            <% if children %>
              <%# Desktop, with hover menu %>
              <button id="dropdownHoverButton-<%= item.id %>" data-dropdown-toggle="<%= item.id %>" data-dropdown-trigger="hover" data-dropdown-placement="bottom-start" data-dropdown-offset-distance="0" data-dropdown-offset-skidding="-8" data-dropdown-delay="0" class="hidden md:flex items-center w-full py-1 px-2 text-white dark:text-black hover:text-white dark:hover:text-black rounded-md hover:bg-green-700 md:border-0 md:w-auto font-semibold <%= "bg-green-700" if children.any? { |j| current_menu_item?(j) } %>">
                <%= item.label(self) %>
                <%= icon "chevron-down", class: "size-4 ms-1 mt-0.5" %>
              </button>
              <ul id="<%= item.id %>" role="list" class="p-4 md:p-2 min-w-36 space-y-1 hidden font-semibold bg-green-600 shadow-xl rounded-md group-data-[open]:block" aria-labelledby="dropdownHoverButton-<%= item.id %>" <%= item.html_options[:data].to_h.map { |k, v| "data-#{k}=#{v}" }.join(" ") %>>
                <% children.each do |j| %>
                  <li data-item-id="<%= j.id %>">
                    <%= link_to j.label(self), j.url(self), j.html_options.merge(class: "text-white dark:text-black hover:text-white dark:hover:text-black hover:bg-green-700 block rounded-md py-1 px-2 no-underline #{(current_menu_item?(j) ? "bg-green-700 selected" : "")}") %>
                  </li>
                <% end %>
              </ul>
              <%# Mobile %>
              <div class="md:hidden flex items-center w-full mb-1 py-2 px-2 font-semibold text-white/80 dark:text-black/80">
                <%= item.label(self) %>
              </div>
              <ul class="mb-3 ml-4 pl-2.5 space-y-1 md:hidden bg-green-600 border-l-2 border-white/40">
                <% children.each do |j| %>
                  <li data-item-id="<%= j.id %>">
                    <%= link_to j.label(self), j.url(self), j.html_options.merge(class: "font-semibold text-white dark:text-black hover:text-white dark:hover:text-black hover:bg-green-700 block rounded-md py-1 px-2 no-underline #{(current_menu_item?(j) ? "bg-green-700 selected" : "")}") %>
                  </li>
                <% end %>
              </ul>
            <% elsif url = item.url(self) %>
              <%= link_to item.label(self), url, item.html_options.merge(class: "block py-1.5 md:py-1 px-2 text-white font-semibold dark:text-black hover:text-white dark:hover:text-black no-underline rounded-md hover:bg-green-700 md:border-0 #{current_menu_item?(item) ? "bg-green-700" : ""}").merge(current_menu_item?(item) ? { "aria-current" => "page" } : {}) %>
            <% else %>
              <%= item.label(self) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
    <div class="flex order-2 md:order-3 space-x-1 pe-4">
      <% if Update.unread_count(current_active_admin_user).positive? %>
        <a href="<%= updates_path %>" class="relative flex items-center size-9 justify-center text-white/75 dark:text-black/50 hover:text-white  dark:hover:text-black focus:outline-hidden text-sm">
          <%= icon "gift", class: "size-5" %>
          <div class="absolute size-2 text-xs font-semibold bg-red-500 rounded-full top-1 end-1 dark:border-gray-900"></div>
        </a>
      <% end %>
      <button type="button" class="dark-mode-toggle flex items-center size-9 justify-center text-white/75 dark:text-black/50 hover:text-white  dark:hover:text-black focus:outline-hidden text-sm">
        <%= icon "moon", class: "size-5 hidden dark:block" %>
        <%= icon "sun", class: "size-5 dark:hidden" %>
      </button>
      <% if can?(:update, Organization) %>
        <a href="<%= edit_organization_path %>" class="relative flex items-center size-9 justify-center text-white/75! dark:text-black/50! hover:text-white! dark:hover:text-black! focus:outline-hidden text-sm">
          <%= icon "adjustments-horizontal", class: "size-6" %>
        </a>
      <% end %>
      <button id="user-menu-button" class="flex items-center justify-center text-sm text-white/50 hover:text-white focus:outline-hidden dark:text-black/50 dark:hover:text-black ms-1" data-dropdown-toggle="user-menu" data-dropdown-offset-distance="3" data-dropdown-placement="bottom-end">
        <%= icon "user-circle", class: "size-8", variant: "solid" %>
      </button>
      <div id="user-menu" class="z-50 hidden min-w-max divide-y divide-gray-100 bg-white rounded-sm shadow-lg ring-1 ring-black/5 focus:outline-hidden dark:bg-gray-700 text-sm text-right text-gray-700 dark:text-gray-200" aria-labelledby="user-menu-button">
        <ul class="space-y-1 p-1">
          <% if current_active_admin_user? %>
            <li><%= auto_link current_active_admin_user, class: "block rounded-sm px-2.5 py-1.5 no-underline text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-white dark:hover:bg-gray-600 dark:hover:text-white" %></li>
          <% end %>
        </ul>
        <div class="p-1">
          <%= link_to auto_logout_link_path, class: "inline-flex items-center rounded-sm px-2.5 py-1.5 no-underline text-xs text-gray-500 dark:text-gray-300 hover:bg-gray-100 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white", data: { method: :delete } do %>
            <%= t("active_admin.logout") %>
            <%= icon "arrow-right-start-on-rectangle", class: "size-4 ms-1" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
