<div class="fixed inset-s-0 top-0 z-50 w-full bg-green-600 shadow-xs">
  <div
    class="mx-auto flex max-w-7xl flex-wrap items-center justify-between py-2"
    data-controller="nav-toggle"
  >
    <div class="order-1 flex grow pl-3 md:hidden">
      <button
        type="button"
        class="
          inline-flex items-center justify-center rounded-lg text-sm
          text-white/80 hover:text-white focus:ring-2 focus:ring-gray-200
          focus:outline-hidden md:hidden dark:text-black/50
          dark:hover:text-black dark:focus:ring-gray-600
        "
        data-action="nav-toggle#toggle"
        aria-expanded="false"
      >
        <%= icon "menu", class: "size-8" %>
        <span class="sr-only">Open main menu</span>
      </button>
    </div>

    <nav
      class="
        z-10 order-3 hidden h-screen w-full grow overflow-y-scroll px-4
        md:order-2 md:block md:h-auto md:w-auto md:overflow-visible
      "
      id="navbar-dropdown"
      data-nav-toggle-target="menu"
    >
      <ul
        class="
          mt-4 flex flex-col space-y-1 pb-32 text-sm font-medium md:mt-0
          md:flex-row md:items-center md:space-y-0 md:space-x-2.5 md:pb-0
          [&>li:first-child]:mr-0 [&>li:first-child]:mb-3
          md:[&>li:first-child]:mr-3 md:[&>li:first-child]:mb-0
        "
      >
        <% current_menu.items(self).each do |item| %>
          <% children = item.items(self).presence %>
          <% label = menu_label_with_badge(item) %>
          <% plain_label = item.label(self) %>

          <li
            class="group text-base md:relative md:text-sm"
            data-item-id="<%= item.id %>"
          >
            <% if children %>
              <% first_child = children.first %>
              <% parent_quick_access = item.id != "other" && first_child&.url(self) %>
              <% parent_classes = "relative hidden w-full items-center rounded-md px-2 py-1 pr-1.5 font-semibold text-white hover:bg-green-700 hover:text-white md:flex md:h-[30px] md:w-auto md:border-0 dark:text-black dark:hover:text-black #{children.any? { |j| current_menu_item?(j) } ? "bg-green-700" : ""}" %>
              <%# Desktop, with hover menu %>
              <% if parent_quick_access %>
                <%= link_to first_child.url(self),
                  id: "dropdownHoverButton-#{item.id}",
                  class: "#{parent_classes} no-underline",
                  **(current_menu_item?(first_child) ? { "aria-current" => "page" } : {}) do %>
                  <%= label %>
                  <%= icon "chevron-down", class: "size-4 ms-1 mt-0.5" %>
                <% end %>
              <% else %>
                <button
                  id="dropdownHoverButton-<%= item.id %>"
                  class="<%= parent_classes %>"
                >
                  <%= label %>
                  <%= icon "chevron-down", class: "size-4 ms-1 mt-0.5" %>
                </button>
              <% end %>
              <%= tag.ul(
                id: item.id,
                role: "list",
                class: "hidden md:block md:invisible md:absolute md:top-full md:-start-3 md:z-10 md:whitespace-nowrap md:group-hover:visible min-w-36 space-y-1 rounded-md bg-green-600 p-4 font-semibold shadow-xl md:p-2.5",
                "aria-labelledby": "dropdownHoverButton-#{item.id}",
                data: item.html_options[:data].to_h
              ) do %>
                <% children.each do |j| %>
                  <li data-item-id="<%= j.id %>">
                    <%= link_to j.label(self), j.url(self), j.html_options.merge(class: "text-white dark:text-black hover:text-white dark:hover:text-black hover:bg-green-700 block rounded-md py-1 px-2 no-underline #{(current_menu_item?(j) ? "bg-green-700 selected" : "")}") %>
                  </li>
                <% end %>
              <% end %>
              <%# Mobile %>
              <div
                class="
                  relative mb-1 flex w-full items-center px-2 py-2
                  font-semibold text-white/60 md:hidden dark:text-black/50
                "
              >
                <%= plain_label %>
              </div>
              <ul
                class="
                  mb-3 ml-4 space-y-1 border-l-2 border-white/30
                  bg-green-600 pl-2.5 md:hidden dark:border-black/25
                "
              >
                <% children.each do |j| %>
                  <li data-item-id="<%= j.id %>">
                    <%= link_to menu_label_with_badge(j, badge_class: "menu-inline-badge"), j.url(self), j.html_options.merge(class: "flex items-center rounded-md px-2 py-1 font-semibold text-white no-underline hover:bg-green-700 hover:text-white dark:text-black dark:hover:text-black #{(current_menu_item?(j) ? "bg-green-700 selected" : "")}") %>
                  </li>
                <% end %>
              </ul>
            <% elsif url = item.url(self) %>
              <%= link_to label, url, item.html_options.merge(class: "relative flex w-full items-center rounded-md px-2 py-1.5 font-semibold text-white no-underline hover:bg-green-700 hover:text-white md:h-[30px] md:w-auto md:py-1 md:border-0 dark:text-black dark:hover:text-black #{current_menu_item?(item) ? "bg-green-700" : ""}").merge(current_menu_item?(item) ? { "aria-current" => "page" } : {}) %>
            <% else %>
              <%= label %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="order-2 ms-auto flex pe-3 md:order-3 md:pe-4">
      <%= render "search/modal" %>

      <a
        href="<%= support_path %>"
        class="
          relative flex size-9 items-center justify-center text-sm
          text-white/75 hover:text-white focus:outline-hidden
          dark:text-black/50 dark:hover:text-black
        "
        data-turbo-prefetch="false"
        title="<%= t(".support") %>"
      >
        <%= icon "message-circle-question-mark", class: "size-5" %>
      </a>

      <% if Update.unread_count(current_active_admin_user).positive? %>
        <a
          href="<%= updates_path %>"
          class="
            relative flex size-9 items-center justify-center text-sm
            text-white/75 hover:text-white focus:outline-hidden
            dark:text-black/50 dark:hover:text-black
          "
          data-turbo-prefetch="false"
          title="<%= t(".updates") %>"
        >
          <%= icon "gift", class: "size-5" %>

          <div
            class="
              absolute inset-e-1.5 top-1 size-2 rounded-full bg-red-500
              text-xs font-semibold dark:border-gray-900
            "
          ></div>
        </a>
      <% end %>

      <a
        href="<%= handbook_path %>"
        class="
          relative flex size-9 items-center justify-center text-sm
          text-white/75 hover:text-white focus:outline-hidden
          dark:text-black/50 dark:hover:text-black
        "
        data-turbo-prefetch="false"
        title="<%= t(".handbook") %>"
      >
        <%= icon "book-open", class: "size-5" %>
      </a>

      <% if can?(:read, Organization) %>
        <a
          href="<%= organization_path %>"
          class="
            relative flex size-9 items-center justify-center text-sm
            text-white/75! hover:text-white! focus:outline-hidden
            dark:text-black/50! dark:hover:text-black!
          "
        >
          <%= icon "sliders-horizontal", class: "size-5" %>
        </a>
      <% end %>

      <%= render "active_admin/user_menu" %>
    </div>
  </div>
</div>
