<div class="fixed start-0 top-0 z-50 w-full bg-green-600 shadow-xs">
  <div class="mx-auto flex max-w-7xl flex-wrap items-center justify-between py-2">
    <div class="order-1 flex grow pl-4 md:hidden">
      <button
        data-collapse-toggle="navbar-dropdown"
        type="button"
        class="
          inline-flex items-center justify-center rounded-lg text-sm
          text-white/80 hover:text-white focus:ring-2 focus:ring-gray-200
          focus:outline-hidden md:hidden dark:text-black/50
          dark:hover:text-black dark:focus:ring-gray-600
        "
        aria-controls="navbar-dropdown"
        aria-expanded="false"
      >
        <%= icon "bars-3", class: "size-9" %>
        <span class="sr-only">Open main menu</span>
      </button>
    </div>

    <nav
      class="
        order-3 hidden h-screen w-full grow overflow-y-scroll px-4
        md:order-2 md:block md:h-auto md:w-auto
      "
      id="navbar-dropdown"
    >
      <ul
        class="
          mt-4 flex flex-col space-y-1 pb-32 text-sm font-medium md:mt-0
          md:flex-row md:items-center md:space-y-0 md:space-x-2 md:pb-0
        "
      >
        <% current_menu.items(self).each do |item| %>
          <% children = item.items(self).presence %>

          <li class="group text-base md:text-sm" data-item-id="<%= item.id %>">
            <% if children %>
              <%# Desktop, with hover menu %>
              <button
                id="dropdownHoverButton-<%= item.id %>"
                data-dropdown-toggle="<%= item.id %>"
                data-dropdown-trigger="hover"
                data-dropdown-placement="bottom-start"
                data-dropdown-offset-distance="0"
                data-dropdown-offset-skidding="-8"
                data-dropdown-delay="0"
                class="hidden w-full items-center rounded-md px-2 py-1 font-semibold text-white hover:bg-green-700 hover:text-white md:flex md:w-auto md:border-0 dark:text-black dark:hover:text-black <%= "bg-green-700" if children.any? { |j| current_menu_item?(j) } %>"
              >
                <%= item.label(self) %>
                <%= icon "chevron-down", class: "size-4 ms-1 mt-0.5" %>
              </button>
              <%= tag.ul(
                id: item.id,
                role: "list",
                class: "hidden min-w-36 space-y-1 rounded-md bg-green-600 p-4 font-semibold shadow-xl group-data-open:block md:p-2",
                "aria-labelledby": "dropdownHoverButton-#{item.id}",
                data: item.html_options[:data].to_h
              ) do %>
                <% children.each do |j| %>
                  <li data-item-id="<%= j.id %>">
                    <%= link_to j.label(self), j.url(self), j.html_options.merge(class: "text-white dark:text-black hover:text-white dark:hover:text-black hover:bg-green-700 block rounded-md py-1 px-2 no-underline #{(current_menu_item?(j) ? "bg-green-700 selected" : "")}") %>
                  </li>
                <% end %>
              <% end %>
              <%# Mobile %>
              <div
                class="
                  mb-1 flex w-full items-center px-2 py-2 font-semibold
                  text-white/80 md:hidden dark:text-black/80
                "
              >
                <%= item.label(self) %>
              </div>
              <ul
                class="
                  mb-3 ml-4 space-y-1 border-l-2 border-white/40
                  bg-green-600 pl-2.5 md:hidden dark:border-black/40
                "
              >
                <% children.each do |j| %>
                  <li data-item-id="<%= j.id %>">
                    <%= link_to j.label(self), j.url(self), j.html_options.merge(class: "font-semibold text-white dark:text-black hover:text-white dark:hover:text-black hover:bg-green-700 block rounded-md py-1 px-2 no-underline #{(current_menu_item?(j) ? "bg-green-700 selected" : "")}") %>
                  </li>
                <% end %>
              </ul>
            <% elsif url = item.url(self) %>
              <%= link_to item.label(self), url, item.html_options.merge(class: "block py-1.5 md:py-1 px-2 text-white font-semibold dark:text-black hover:text-white dark:hover:text-black no-underline rounded-md hover:bg-green-700 md:border-0 #{current_menu_item?(item) ? "bg-green-700" : ""}").merge(current_menu_item?(item) ? { "aria-current" => "page" } : {}) %>
            <% else %>
              <%= item.label(self) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="order-2 flex space-x-1 pe-4 md:order-3">
      <% if Update.unread_count(current_active_admin_user).positive? %>
        <a
          href="<%= updates_path %>"
          class="
            relative flex size-9 items-center justify-center text-sm
            text-white/75 hover:text-white focus:outline-hidden
            dark:text-black/50 dark:hover:text-black
          "
          data-turbo-prefetch="false"
        >
          <%= icon "gift", class: "size-5" %>

          <div
            class="
              absolute end-1 top-1 size-2 rounded-full bg-red-500 text-xs
              font-semibold dark:border-gray-900
            "
          ></div>
        </a>
      <% end %>

      <button
        type="button"
        class="
          dark-mode-toggle flex size-9 items-center justify-center text-sm
          text-white/75 hover:text-white focus:outline-hidden
          dark:text-black/50 dark:hover:text-black
        "
      >
        <%= icon "moon", class: "size-5 hidden dark:block" %>
        <%= icon "sun", class: "size-5 dark:hidden" %>
      </button>

      <a
        href="<%= support_path %>"
        class="
          relative flex size-9 items-center justify-center text-sm
          text-white/75 hover:text-white focus:outline-hidden
          dark:text-black/50 dark:hover:text-black
        "
        data-turbo-prefetch="false"
        title="<%= t(".support") %>"
      >
        <%= icon "message-circle-question-mark", class: "size-5" %>
      </a>

      <% if can?(:update, Organization) %>
        <a
          href="<%= edit_organization_path %>"
          class="
            relative flex size-9 items-center justify-center text-sm
            text-white/75! hover:text-white! focus:outline-hidden
            dark:text-black/50! dark:hover:text-black!
          "
        >
          <%= icon "adjustments-horizontal", class: "size-6" %>
        </a>
      <% end %>

      <button
        id="user-menu-button"
        class="
          ms-1 flex items-center justify-center text-sm text-white/50
          hover:text-white focus:outline-hidden dark:text-black/50
          dark:hover:text-black
        "
        data-dropdown-toggle="user-menu"
        data-dropdown-offset-distance="3"
        data-dropdown-placement="bottom-end"
      >
        <%= icon "user-circle", class: "size-8", variant: "solid" %>
      </button>

      <div
        id="user-menu"
        class="
          z-50 hidden min-w-max divide-y divide-gray-100 rounded-sm bg-white
          text-right text-sm text-gray-700 shadow-lg ring-1 ring-black/5
          focus:outline-hidden dark:bg-gray-700 dark:text-gray-200
        "
        aria-labelledby="user-menu-button"
      >
        <ul class="space-y-1 p-1">
          <% if current_active_admin_user? %>
            <li>
              <%= auto_link current_active_admin_user, class: "block rounded-sm px-2.5 py-1.5 no-underline text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-white dark:hover:bg-gray-600 dark:hover:text-white" %>
            </li>
          <% end %>
        </ul>

        <div class="p-1">
          <%= link_to auto_logout_link_path, class: "inline-flex items-center rounded-sm px-2.5 py-1.5 no-underline text-xs text-gray-500 dark:text-gray-300 hover:bg-gray-100 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white", data: { method: :delete } do %>
            <%= t("active_admin.logout") %>
            <%= icon "arrow-right-start-on-rectangle", class: "size-4 ms-1" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
