<div
  class="relative flex items-center justify-center"
  data-controller="tooltip"
  data-tooltip-dismissible-value="true"
  data-tooltip-placement-value="bottom-end"
>
  <button
    type="button"
    id="user-menu-button"
    class="admin-header-action relative ms-0.5"
    data-tooltip-target="trigger"
    data-action="click->tooltip#toggle"
    aria-controls="user-menu"
    aria-expanded="false"
  >
    <%= icon "circle-user-round", class: "size-8 md:size-7" %>
  </button>

  <div
    id="user-menu"
    data-tooltip-target="content"
    class="
      invisible fixed z-50 -mt-1.5 ml-1.5 min-w-max divide-y divide-gray-100
      rounded-sm bg-white text-right text-gray-700 opacity-0 shadow-lg
      ring-1 ring-black/5 transition-opacity duration-150
      focus:outline-hidden md:text-sm dark:divide-gray-700 dark:bg-gray-800
      dark:text-gray-200
    "
    aria-labelledby="user-menu-button"
  >
    <ul class="space-y-1 p-1">
      <% if current_active_admin_user? %>
        <li>
          <%= auto_link current_active_admin_user, class: "block rounded-sm px-2.5 py-1.5 no-underline text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white" %>
        </li>
        <% language = current_active_admin_user.language %>
        <li>
          <%= link_to edit_admin_path(current_active_admin_user, anchor: "languages"), class: "flex items-center justify-end gap-2 rounded-sm px-2.5 py-1.5 no-underline text-gray-500 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" do %>
            <%= icon "languages", class: "size-4" %>

            <span class="text-sm md:text-xs">
              <%= t("languages.#{language}") %>
            </span>
          <% end %>
        </li>
        <% theme = current_active_admin_user.theme %>
        <% theme_icon = HasTheme::THEME_ICONS.fetch(theme) %>
        <li>
          <%= link_to edit_admin_path(current_active_admin_user, anchor: "theme"), class: "flex items-center justify-end gap-2 rounded-sm px-2.5 py-1.5 no-underline text-gray-500 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" do %>
            <%= icon theme_icon, class: "size-4" %>
            <span class="text-sm md:text-xs"><%= t("themes.#{theme}") %></span>
          <% end %>
        </li>
      <% end %>
    </ul>

    <div class="p-1">
      <%= link_to auto_logout_link_path, class: "inline-flex items-center rounded-sm px-2.5 py-1.5 no-underline text-sm md:text-xs text-gray-500 dark:text-gray-300 hover:bg-gray-100 hover:text-gray-900 dark:hover:bg-gray-700 dark:hover:text-white", data: { method: :delete } do %>
        <%= t("active_admin.logout") %>
        <%= icon "log-out", class: "size-4 ms-1" %>
      <% end %>
    </div>
  </div>
</div>
