<div class="panel">
  <div class="panel-title">
    <h3><%= I18n.t "active_admin.comments.title_content" %></h3>
    <span class="panel-title-count"><%= comments.total_count %></span>
  </div>
  <div class="panel-body">
    <% if comments.any? %>
      <div class="space-y-4 px-2">
        <% comments.each do |comment| %>
          <div
            class="group relative border-b border-dotted dark:border-gray-600"
            id="<%= dom_id(comment, :active_admin) %>"
            data-test-comment-container
          >
            <div class="mb-2 flex items-end justify-between gap-4">
              <span class="font-semibold">
                <%= comment.author ? auto_link(comment.author) : I18n.t("active_admin.comments.author_missing") %>
              </span>
              <span class="text-xs text-gray-400 group-hover:hidden"><%= pretty_format comment.created_at %></span>

              <% if authorized?(ActiveAdmin::Auth::DESTROY, comment) %>
                <div
                  class="
                    absolute right-0 top-0 mb-2 hidden items-center
                    justify-center group-hover:flex
                  "
                >
                  <%= link_to I18n.t("active_admin.comments.delete"), url_for_comments(comment.id), method: :delete, data: { confirm: I18n.t("active_admin.comments.delete_confirmation") }, class: "btn btn-sm" %>
                </div>
              <% end %>
            </div>
            <div class="mb-4 break-keep leading-5">
              <%= simple_format(comment.body) %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="missing-data">
        <%= I18n.t("active_admin.comments.no_comments_yet") %>
      </div>
    <% end %>
    <% if authorized?(ActiveAdmin::Auth::NEW, ActiveAdmin::Comment) %>
      <%= active_admin_form_for(ActiveAdmin::Comment.new, url: comment_form_url, html: { class: "p-2 pt-0", novalidate: false }) do |f|
        ol class: "list-none" do
          f.input :resource_type, as: :hidden, input_html: { value: ActiveAdmin::Comment.resource_type(resource) }
          f.input :resource_id, as: :hidden, input_html: { value: resource.id }
          f.input :body, label: false, input_html: { size: "80x2", required: true }, wrapper_html: { class: "pt-4 py-1" }
        end
        div class: "flex items-center justify-end list-none" do
          f.action :submit, label: I18n.t("active_admin.comments.add"), button_html: { class: "btn btn-sm" }
        end
      end %>
    <% end %>
  </div>
</div>
