<div id="<%= membership.fiscal_year.year %>">
  <h2 class="mt-8 text-lg font-bold text-gray-900 dark:text-gray-100">
    <%= membership.fiscal_year %>
    <% if membership.can_member_update? %>
      <%= link_to edit_members_membership_path(membership), title: t(".edit"), class: "ml-1 p-3" do %>
        <%= icon "pencil-square", class: "mb-1 inline size-5 text-gray-400 dark:text-gray-600 hover:text-green-500 dark:hover:text-green-500" %>
      <% end %>
    <% end %>
  </h2>
  <ul class="my-2 md:mr-4 -mx-2 relative p-2 space-y-2">
    <li class="flex flex-row items-center">
      <%= icon "calendar-days", class: "size-6 text-gray-300 dark:text-gray-700" %>
      <span class="ml-2">
        <%= [ membership.first_delivery.date, membership.last_delivery.date ].map { |d| l(d) }.join(" – ") %>
      </span>
    </li>
    <li class="mt-1 flex flex-row items-center">
      <%= icon "shopping-bag", class: "size-6 text-gray-300 dark:text-gray-700" %>
      <span class="ml-2 flex flex-col">
        <span><%= basket_size_description(membership) %></span>
        <% complements = membership.memberships_basket_complements.includes(:basket_complement) %>
        <% if complements.any? %>
          <span><%= basket_complements_description(complements) %></span>
        <% end %>
      </span>
    </li>
    <li class="mt-1 flex flex-row items-center">
      <%= icon "map", class: "size-6 text-gray-300 dark:text-gray-700" %>
      <span class="ml-2">
        <% depot = membership.depot %>
        <% if depot.full_address %>
          <%= link_to "https://www.google.com/maps?q=#{depot.full_address}", title: depot.full_address, target: :blank, class: "hover:text-green-500" do %>
            <%= h depot.public_name %>
          <% end %>
        <% else %>
          <%= h depot.public_name %>
        <% end %>
      </span>
    </li>
    <li class="mt-1 flex flex-row items-center">
      <%= icon "truck", class: "size-6 text-gray-300 dark:text-gray-700" %>
      <span class="ml-2">
        <%= link_to members_deliveries_path do %>
          <%= "#{membership.baskets_count} #{Delivery.model_name.human(count: membership.baskets_count)}" -%>
          <% if membership.trial? %>
            <% concat "," %>
            <%= t(".remaining_trial_baskets_count", count: membership.remaining_trial_baskets_count) -%>
          <% end %>
        <% end %>
        <% if Current.org.feature?("absence") && membership.baskets.absent.any? %>
          <% concat "," %>
          <%= link_to t(".absent_baskets_count", count: membership.baskets.absent.count), members_absences_path %>
        <% end %>
      </span>
    </li>
    <% if Current.org.feature?("activity") %>
      <li class="mt-1 flex flex-row items-center">
        <%= icon "hand-raised", class: "size-6 text-gray-300 dark:text-gray-700" %>
        <span class="ml-2">
          <%= "#{activities_human_name}: " %>
          <%= link_to members_activity_participations_path do %>
            <%= t(".activity_participations_demanded", count: membership.activity_participations_demanded) %>
          <% end %>
        </span>
      </li>
    <% end %>
    <li class="mt-1 flex flex-row items-center">
      <%= icon "banknotes", class: "size-6 text-gray-300 dark:text-gray-700" %>
      <span class="ml-2">
        <% if current_member.salary_basket? %>
          <span class="italic text-gray-400 dark:text-gray-600">
            <%= t(".price_salary_basket") %>
          </span>
        <% else %>
          <span class="flex flex-row items-center gap-2">
            <%= link_to members_billing_path do %>
              <%= cur(membership.price) %>
            <% end %>
            <% if membership.invoices.any? %>
              <%= tooltip "membership-price-#{membership.id}", t(".price_tooltip") %>
            <% end %>
          </span>
        <% end %>
      </span>
    </li>
  </ul>
</div>
