<p><%= t(".greeting") %></p>

<p><%= t(".exploration_paragraph") %></p>

<p><%= t(".questions_paragraph") %></p>

<p><%= t(".setup_paragraph") %></p>

{% button setup_handbook_url %}
  <%= t(".setup_button") %>
{% endbutton %}
