<p>Hallo {{ admin.name }},</p>

<p>Das Mitglied <strong>{{ member.name }}</strong> ist vom {{ absence.start_date }} bis zum {{ absence.end_date }} abwesend.</p>

{% if absence.note %}
<p>
  Bemerkung des Mitglieds:<br/>
  <i>{{ absence.note }}</i>
</p>
{% endif %}

{% button absence.admin_url %}
  Zur Abwesenheitsseite gehen
{% endbutton %}
