<p>Ciao {{ admin.name }},</p>

<p>Il membro <strong>{{member.name }}</strong> si è iscritto a un'attività.</p>

{% highlight_list %}
  <strong>Data:</strong> {{ activity.date_long }}
  <strong>Orario:</strong> {{ activity.period }}
  <strong>Attività:</strong> {{ activity.title }}
  {% if activity.description %}
  <strong>Descrizione:</strong> {{ activity.description }}
  {% endif %}
  {% if activity.place_url %}
  <strong>Luogo:</strong> <a href="{{ activity.place_url }}" target="_black">{{ activity.place }}</a>
  {% elsif activity.place %}
  <strong>Luogo:</strong> {{ activity.place }}
  {% endif %}
  <strong>Partecipanti:</strong> {{ activity_participation.participants_count }}
  {% if activity_participation.carpooling %}
    <strong>Condivisione auto:</strong> {{ activity_participation.carpooling_phone }} {% if activity_participation.carpooling_city %}({{ activity_participation.carpooling_city }}){% endif %}
  {% endif %}
{% endhighlight_list %}

{% if activity_participation.note %}
<p>
  Nota del membro:<br/>
  <i>{{ activity_participation.note }}</i>
</p>
{% endif %}

{% button activity_participation.admin_url %}
  Accedere alla pagina delle iscrizioni di questo membro
{% endbutton %}
