<p>Hello {{ admin.name }},</p>

<p>The member <strong>{{ member.name }}</strong> has registered for an activity.</p>

{% highlight_list %}
  <strong>Date:</strong> {{ activity.date_long }}
  <strong>Time:</strong> {{ activity.period }}
  <strong>Activity:</strong> {{ activity.title }}
  {% if activity.description %}
  <strong>Description:</strong> {{ activity.description }}
  {% endif %}
  {% if activity.place_url %}
  <strong>Location:</strong> <a href="{{ activity.place_url }}" target="_blank">{{ activity.place }}</a>
  {% elsif activity.place %}
  <strong>Location:</strong> {{ activity.place }}
  {% endif %}
  <strong>Participants:</strong> {{ activity_participation.participants_count }}
  {% if activity_participation.carpooling %}
    <strong>Carpooling:</strong> {{ activity_participation.carpooling_phone }} {% if activity_participation.carpooling_city %}({{ activity_participation.carpooling_city }}){% endif %}
  {% endif %}
{% endhighlight_list %}

{% if activity_participation.note %}
<p>
  Member's note:<br/>
  <i>{{ activity_participation.note }}</i>
</p>
{% endif %}

{% button activity_participation.admin_url %}
  Access the member's participation page
{% endbutton %}
