<p>Ciao {{ admin.name }},</p>

<p>L'email <strong>{{ email_suppression.email }}</strong> dell'ultimo invio è stata respinta per il seguente motivo: <strong>{{ email_suppression.reason }}</strong>.</p>

{% highlight %}
  <p>Questa email è collegata a:</p>
  <ul>
    {% for owner in email_suppression.owners %}
      <li><a href='{{ owner.admin_url }}'>{{ owner.type }}: {{ owner.name }}</a></li>
    {% endfor %}
  </ul>
{% endhighlight %}

<p>Non è possibile inviare altri messaggi a questa email, si prega di verificare.</p>
