<p>Hallo {{ admin.name }},</p>

<p>Das Mitglied <strong>{{ member.name }}</strong> hat sich für eine Aktivität angemeldet.</p>.

{% highlight_list %}
  <strong>Datum:</strong> {{ activity.date_long }}
  <strong>Zeiten:</strong> {{ activity.period }}
  <strong>Arbeit:</strong> {{ activity.title }}
  {% if activity.description %}
  <strong>Beschreibung:</strong> {{ activity.description }}
  {% endif %}
  {% if activity.place_url %}
  <strong>Ort:</strong> <a href="{{ activity.place_url }}" target="_black">{{ activity.place }}</a>
  {% elsif activity.place %}
  <strong>Ort:</strong> {{ activity.place }}
  {% endif %}
  <strong>Teilnehmer:</strong> {{ activity_participation.participants_count }}
  {% if activity_participation.carpooling %}
    <strong>Fahrgemeinschaften:</strong> {{ activity_participation.carpooling_phone }} {% if activity_participation.carpooling_city %}({{ activity_participation.carpooling_city }}){% endif %}
  {% endif %}
{% endhighlight_list %}

{% if activity_participation.note %}
<p>
  Bemerkung des Mitglieds:<br/>
  <i>{{ activity_participation.note }}</i>
</p>
{% endif %}

{% button activity_participation.admin_url %}
  Zur Seite der Beteiligungen dieses Mitglieds gehen
{% endbutton %}
