<p>Ciao {{ admin.name }},</p>

<p>Il socio <strong>{{ member.name }}</strong> sarà assente dal {{ absence.start_date }} al {{ absence.end_date }}.</p>

{% if absence.note %}
<p>
  Nota del socio:<br/>
  <i>{{ absence.note }}</i>
</p>
{% endif %}

{% button absence.admin_url %}
  Accedere alla pagina delle assenze
{% endbutton %}
