<li class="-mx-2 my-2 flex flex-col flex-wrap rounded-sm px-2 py-1 hover:bg-gray-100 md:flex-row md:flex-nowrap md:items-center md:justify-between dark:hover:bg-gray-800 <%= "text-gray-300 dark:text-gray-600" if activity_participation.rejected? %>">
  <span class="flex grow flex-col flex-nowrap">
    <span>
      <%= l(activity_participation.activity.date, format: :medium).capitalize %>,
      <%= activity_participation.activity.period %>
    </span>

    <span class="flex flex-row items-center">
      <span>
        <%= display_activity(activity_participation.activity, description: true) %>
        ,&nbsp; <%= display_place(activity_participation.activity) %>
      </span>
    </span>
  </span>

  <span class="flex flex-none flex-row flex-nowrap gap-2 md:flex-wrap">
    <span class="flex h-8 flex-row justify-start space-x-2 md:ml-5 md:justify-end">
      <span
        class="ms-1 flex flex-row items-center justify-center"
        title="<%= t("activities.participant_count", count: activity_participation.participants_count) %>"
      >
        <span><%= activity_participation.participants_count %></span>
        <%= icon "users", class: "ms-1 size-5" %>
      </span>

      <% if activity_participation.carpooling? %>
        <span
          class="ms-1 flex items-center justify-center"
          title="<%= t(".carpooling") %>: <%= activity_participation.carpooling_phone.phony_formatted %>"
        >
          <%= icon "car", class: "size-6" %>
        </span>
      <% end %>

      <% if activity_participation.note? %>
        <%= tooltip("activity-participation-#{activity_participation.id}", activity_participation.note, icon_name: "chat-bubble-bottom-center-text") %>
      <% end %>
    </span>

    <span class="flex grow flex-row items-center justify-end">
      <% if activity_participation.destroyable? %>
        <%= button_to t(".cancel_link"), [ :members, activity_participation ], method: :delete, class: "btn btn-xs" %>
      <% elsif activity_participation.validated? || activity_participation.rejected? %>
        <span
          class="status-tag"
          data-status="<%= activity_participation.state %>"
        >
          <%= activity_participation.state_i18n_name %>
        </span>
      <% end %>
    </span>
  </span>
</li>
