<span class="grow flex flex-col flex-nowrap">
  <span>
    <%= l(activity_participation.activity.date, format: :medium).capitalize %>,
    <%= activity_participation.activity.period %>
  </span>
  <span class="flex flex-row items-center">
    <span>
      <%= display_activity(activity_participation.activity, description: true) %>,&nbsp;
      <%= display_place(activity_participation.activity) %>
    </span>
  </span>
</span>
<span class="flex-none flex flex-row flex-nowrap md:flex-wrap">
  <span class="h-8 md:ml-5 space-x-2 flex flex-row justify-start md:justify-end">
    <span class="ms-1 flex flex-row justify-center items-center" title="<%= t("activities.participant_count", count: activity_participation.participants_count) %>">
      <span><%= activity_participation.participants_count %></span>
      <%= icon "users", class: "ms-1 size-5" %>
    </span>
    <% if activity_participation.carpooling? %>
      <span class="ms-1 flex justify-center items-center" title="<%= t(".carpooling") %>: <%= activity_participation.carpooling_phone.phony_formatted %>">
        <%= icon "car", class: "size-6" %>
      </span>
    <% end %>
    <% if activity_participation.note? %>
      <%= tooltip("activity-participation-#{activity_participation.id}", activity_participation.note, icon_name: "chat-bubble-bottom-center-text") %>
    <% end %>
  </span>
  <span class="ml-2 grow flex flex-row justify-end items-center">
    <% if activity_participation.destroyable? %>
      <%= button_to t(".cancel_link"), [ :members, activity_participation ], method: :delete, class: "ml-2 px-2 border border-green-500 bg-green-500 hover:bg-green-600 hover:border-green-600 hover:dark:bg-green-400 hover:dark:border-green-400 text-white hover:text-white font-medium rounded-md focus:outline-hidden focus:ring-green-500 focus:border-green-500 focus:z-10 text-sm cursor-pointer" %>
    <% elsif activity_participation.validated? || activity_participation.rejected? %>
      <span class="status-tag" data-status="<%= activity_participation.state %>">
        <%= activity_participation.state_i18n_name %>
      </span>
    <% end %>
  </span>
</span>
