<h1 class="flex items-center justify-between">
  <%= activities_human_name %>
  <%= render "members/calendars/subscribe_button" %>
</h1>

<section>
  <h2><%= t(".activity_participation_form_title") %></h2>

  <% if @activities.empty? %>
    <p class="mt-2 text-center text-gray-400 italic dark:text-gray-600">
      <%= t_activity(".no_activities") %>
    </p>
  <% else %>
    <div
      class="activities-form"
      data-controller="calendar"
      data-calendar-dates-value="<%= @activities.map(&:date).uniq.as_json %>"
      data-calendar-non-full-dates-value="<%= @activities.select(&:missing_participants?).map(&:date).uniq.as_json %>"
      data-calendar-default-date-value="<%= @activity_participation.date %>"
    >
      <%= simple_form_for @activity_participation, url: [ :members, @activity_participation ] do |f| %>
        <% if @activities.map(&:title).uniq.many? %>
          <div class="my-2">
            <%= select_tag :activity_title, activities_titles_options(@activities), class: "mt-1 select-sm max-w-full min-w-72", data: { action: "calendar#filterDates" } %>
          </div>
        <% end %>

        <div class="mt-2 mb-6">
          <div class="calendar-wrapper">
            <div id="calendar" class="calendar" data-calendar-target="calendar"></div>
          </div>
        </div>

        <div class="space-y-6">
          <%= f.input :activity_ids, as: :check_boxes, collection: activities_collection(@activities, data: { calendar_target: "input" }), disabled: @activities.select(&:full?).map(&:id), required: true, label: t(".activity_label"), wrapper_html: { data: { form_disabler_target: "label" } } %>
          <%= f.input :participants_count, as: :numeric, required: true, label: t(".participants_count_label"), input_html: { step: 1, min: 1, class: "w-16" } %>
          <%= f.input :note, label_html: { class: "text-sm font-medium text-gray-700 dark:text-gray-300" }, input_html: { rows: 2 } %>

          <div data-controller="form-checkbox-toggler" class="space-y-2">
            <legend>
              <div class="flex flex-row flex-nowrap gap-2">
                <span><%= t(".carpooling") %></span>
                <%= tooltip("carpooling", t(".carpooling_tooltip")) %>
              </div>
            </legend>

            <%= f.input :carpooling, as: :boolean, label: t(".carpooling_checkbox"), input_html: { data: { form_checkbox_toggler_target: "checkbox", action: "form-checkbox-toggler#toggleInput" } } %>

            <div>
              <%= f.input :carpooling_phone, label: false, input_html: { placeholder: t(".carpooling_phone"), data: { form_checkbox_toggler_target: "input" } } %>
              <%= f.input :carpooling_city, label: false, input_html: { placeholder: t(".carpooling_city"), data: { form_checkbox_toggler_target: "input" } } %>
            </div>
          </div>

          <div class="actions">
            <%= f.button :submit, t(".activity_form_submit"), data: { calendar_target: "submit" } %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>

<% @coming_participations = current_member.activity_participations.coming.includes(:activity).merge(Activity.ordered(:asc)) %>

<% condition = @coming_participations.any? { |p| !p.destroyable? } %>

<% message_class = condition ? "mt-4 pb-4 text-center text-sm italic text-gray-400 dark:text-gray-600" : "nocontent" %>

<% message_text = condition ? t_activity(".coming_activity_participation_cannot_be_cancel_explanation_html", days_count: Current.org.activity_participation_deletion_deadline_in_days, contact_link: mail_to(Current.org.email, t(".contact_link"))) : t(".edit_activity_participation_explanation") %>

<% if @coming_participations.any? %>
  <section>
    <h2><%= t_activity(".coming_activity_participations") %></h2>

    <ul id="coming_participations" class="mt-2 space-y-4">
      <%= render @coming_participations %>
    </ul>

    <p class="<%= message_class %>"><%= message_text %></p>
  </section>
<% end %>

<section>
  <h2><%= t_activity(".past_activity_participations") %></h2>

  <% @past_participations = current_member.activity_participations.past_current_year.includes(:activity).merge(Activity.ordered(:desc)) %>

  <% if @past_participations.empty? %>
    <p class="nocontent"><%= t(".no_past_activity_participations") %></p>
  <% else %>
    <ul class="mt-2 space-y-4"><%= render @past_participations %></ul>
  <% end %>
</section>
