<h1><%= t("members.members.form_modes.membership.title") %></h1>

<section>
  <h2><%= t(".title.#{params[:decision]}") %></h2>
  <p class="mt-2 mb-8 justify">
    <%= t(".text.#{params[:decision]}_html", last_delivery_date: l(Delivery.during_year(@membership.fy_year).last.date), first_delivery_date: l(Delivery.during_year(@membership.fy_year + 1).first.date)) %>
  </p>
  <div class="mt-4">
    <%= simple_form_for @membership, url: members_membership_renewal_path, data: { turbo: false, controller: "form-pricing", "form-pricing-url-value" => members_renew_membership_url }, method: :post do |f| %>
      <%= f.hidden_field :renewal_decision %>
      <div class="space-y-6">
        <% case params[:decision] %>
        <% when "cancel" %>
          <%= f.input :renewal_note, as: :text, placeholder: t(".renewal_note.placeholder.cancel"), input_html: { rows: 3 } %>
          <% if Current.org.annual_fee? %>
            <% label = t(".renewal_annual_fee_label_html", price_tag: content_tag(:span, cur(Current.org.annual_fee, precision: 0), class: "text-lg text-gray-400 dark:text-gray-600 whitespace-nowrap")) %>
            <div class="check_boxes">
              <div class="checkbox">
                <%= f.input :renewal_annual_fee, as: :boolean, label: label %>
              </div>
            </div>
          <% end %>
        <% when "renew" %>
          <div class="space-y-8" data-controller="form-choices-limiter form-activity">
            <%= f.input :basket_size_id, as: :radio_buttons, collection: basket_sizes_collection(membership: @membership, no_basket_option: false, data: { action: "form-choices-limiter#limitChoices form-activity#updateInput form-pricing#refresh" }), required: true, label: BasketSize.model_name.human, label_html: { class: "text-base" } %>
            <% if @membership.memberships_basket_complements.any? %>
              <%= f.input BasketComplement.model_name.human(count: 2), wrapper_class: "input quantity_inputs", label_html: { class: "text-base" } do %>
                <% if Current.org.member_form_complements_text? %>
                  <div class="mb-4 text-sm text-justify">
                    <%= Current.org.member_form_complements_text %>
                  </div>
                <% end %>
                <%= f.simple_fields_for :memberships_basket_complements, data: { form_disabler_target: "label" } do |ff| %>
                  <%= ff.input :basket_complement_id, as: :hidden %>
                  <%= ff.input :quantity, as: :numeric, label: basket_complement_label(ff.object.basket_complement), required: false, input_html: { min: 0, data: { action: "form-activity#updateInput form-pricing#refresh", activity: ff.object.basket_complement.activity_participations_demanded_annually } }, wrapper_class: "quantity" %>
                <% end %>
              <% end %>
            <% end %>
            <% if show_activity_participations? %>
              <%= f.input :activity_participations_demanded_annually, as: :numeric, label: activities_human_name, required: true, input_html: { min: Current.org.activity_participations_form_min || f.object.activity_participations_demanded_annually, max: Current.org.activity_participations_form_max || f.object.activity_participations_demanded_annually, data: { min: Current.org.activity_participations_form_min, max: Current.org.activity_participations_form_max, form_activity_target: "input", action: "form-pricing#refresh" }, class: "w-20" }, hint: activity_participations_form_detail %>
            <% end %>
            <% if show_basket_price_extras? && !current_member.salary_basket? %>
              <div>
                <legend class="text-base">
                  <%= Current.org.basket_price_extra_public_title %>
                </legend>
                <div class="my-1 text-sm text-justify trix">
                  <%= Current.org.basket_price_extra_text %>
                </div>
                <%= f.input :basket_price_extra, as: :radio_buttons, collection: basket_prices_extra_collection(data: { action: "form-pricing#refresh" }, current_price_extra: f.object.basket_price_extra), label: false, required: true %>
              </div>
            <% end %>
            <% if Current.org.membership_renewal_depot_update? %>
              <div class="space-y-8">
                <% grouped_depots = visible_depots(object: @membership, only_with_future_deliveries: true).group_by(&:group) %>
                <% if grouped_depots.keys.compact.any? %>
                  <div>
                    <legend class="text-base">
                      <%= Depot.model_name.human(count: 2) %>
                      <abbr title="<%= t("simple_form.required.text") %>"><%= t("simple_form.required.mark") %></abbr>
                    </legend>
                    <div class="mt-2 space-y-6">
                      <% grouped_depots = grouped_depots.sort_by { |g, _d| g&.member_order_priority.to_s + g&.public_name.to_s } %>
                      <% grouped_depots.each do |group, depots| %>
                        <div>
                          <% if group %>
                            <legend>
                              <%= group.public_name %>
                            </legend>
                            <div class="mt-1 mb-3 text-sm text-justify">
                              <%= group.information_text %>
                            </div>
                          <% end %>
                          <%= f.input :depot_id, hidden_fields: false, as: :radio_buttons, collection: depots_collection(depots: depots, data: { action: " form-choices-limiter#limitChoices form-pricing#refresh" }), label: false, wrapper_html: { data: { form_disabler_target: "label" } }, include_hidden: false %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% else %>
                  <%= f.input :depot_id, as: :radio_buttons, collection: depots_collection(membership: @membership, only_with_future_deliveries: true, data: { action: "form-choices-limiter#limitChoices form-pricing#refresh" }), label: Depot.model_name.human, required: true, label_html: { class: "text-base" } %>
                <% end %>
                <% if DeliveryCycle.visible? %>
                  <%= f.input :delivery_cycle_id, as: :radio_buttons, collection: visible_delivery_cycles_collection(membership: @membership, only_with_future_deliveries: true, data: { form_choices_limiter_target: "input", action: "form-pricing#refresh" }), disabled: (DeliveryCycle.pluck(:id) - @membership.depot.delivery_cycle_ids - [ @membership.delivery_cycle_id ]), label: Delivery.model_name.human(count: 2), required: true, label_html: { class: "text-base" } %>
                <% end %>
              </div>
            <% end %>
            <% if Current.org.billing_year_divisions.many? %>
              <div class="input">
                <label class="text-base mb-1">
                  <%= t("active_admin.resource.show.billing") %>
                  <abbr title="<%= t("simple_form.required.text") %>"><%= t("simple_form.required.mark") %></abbr>
                </label>
                <%= f.input :billing_year_division, as: :radio_buttons, collection: organization_billing_year_divisions_collection(membership: @membership), label: false %>
              </div>
            <% end %>
          </div>
          <%= f.input :renewal_note, as: :text, placeholder: t(".renewal_note.placeholder.renew"), input_html: { rows: 4 } %>
        <% end %>
      </div>
      <div class="actions">
        <%= link_to t(".cancel"), members_memberships_path, class: "cancel-link" %>
        <%= f.button :submit, t(".submit") %>
      </div>
    <% end %>
    <% if params[:decision] == "renew" %>
      <%= turbo_frame_tag "pricing" do %>
        <%= render partial: "members/members/pricing", locals: { params: (params[:membership].present? ? renewal_params.to_unsafe_h : @membership.attributes) } %>
      <% end %>
    <% end %>
  </div>
</section>
