<% pricing = MembershipPricing.new(params) %>

<% if pricing.present? || current_member&.salary_basket? %>
  <div class="sticky bottom-2 mt-16 h-12 w-full">
    <div class="-mx-4 bg-transparent px-4 md:-mx-0 md:px-0">
      <div
        class="
          mx-auto flex w-fit flex-col rounded-sm border border-gray-200
          bg-gray-100 shadow-md dark:border-gray-700 dark:bg-gray-900
        "
      >
        <div class="flex flex-row items-center justify-center p-2 px-4 text-gray-500">
          <%= icon "banknotes", class: "size-6 text-gray-400 dark:text-gray-600" %>
          <span class="ml-3">
            <% if current_member&.salary_basket? %>
              <span class="italic text-gray-400 dark:text-gray-600"><%= t(".salary_basket") %></span>
            <% else %>
              <% if pricing.prices.one? %>
                <%= cur(pricing.prices.first) %>
              <% else %>
                <%= [ cur(pricing.prices.min), cur(pricing.prices.max, format: "%n") ].join("-") %>
              <% end %>
              <span class="ml-1 text-gray-400 dark:text-gray-600">/<%= t(".year") %></span>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>
