<% pricing = MembershipPricing.new(params) %>
<% if pricing.present? || current_member&.salary_basket? %>
  <div class="mt-16 h-12 w-full sticky bottom-2">
    <div class="-mx-4 md:-mx-0 px-4 md:px-0 bg-transparent">
      <div class="shadow-md mx-auto w-fit flex flex-col border border-gray-200 dark:border-gray-700 rounded-sm bg-gray-100 dark:bg-gray-900">
        <div class="p-2 px-4 flex flex-row items-center justify-center text-gray-500">
          <%= icon "banknotes", class: "size-6 text-gray-400 dark:text-gray-600" %>
          <span class="ml-3">
            <% if current_member&.salary_basket? %>
              <span class="italic text-gray-400 dark:text-gray-600"><%= t(".salary_basket") %></span>
            <% else %>
              <% if pricing.prices.one? %>
                <%= cur(pricing.prices.first) %>
              <% else %>
                <%= [ cur(pricing.prices.min), cur(pricing.prices.max, format: "%n") ].join("-") %>
              <% end %>
              <span class="ml-1 text-gray-400 dark:text-gray-600">/<%= t(".year") %></span>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>
