<h1 class="text-center">
  <%= t(".title") %>
</h1>

<div class="mt-4 text-justify">
  <p><%= Current.org.member_form_subtitle? ? Current.org.member_form_subtitle : t(".subtitle") %></p>
</div>

<div class="mt-8">
  <% if @member.errors.of_kind?(:emails, :taken) %>
    <div class="block mb-4 p-4 bg-red-100 dark:bg-red-900 text-red-500 rounded-md relative" role="alert">
      <strong class="font-bold">
        <%= @member.emails_array.many? ? t(".emails_taken") : t(".email_taken") %>
      </strong>
      <span class="block mt-1">
        <%= t(".email_taken_hint") %>
      </span>
    </div>
  <% end %>
  <%= simple_form_for @member, url: members_member_path, data: { turbo: false, controller: "form-pricing", "form-pricing-url-value" => new_members_member_url } do |f| %>
    <div class="space-y-12">
      <div class="print:break-after-page" aria-label="Contact">
        <legend class="text-lg font-medium text-gray-700 dark:text-gray-300">
          <%= Member.human_attribute_name(:contact) %>
        </legend>
        <div class="mt-2 space-y-6">
          <%= f.input :name, label: t(".name") %>
          <%= f.input :address, required: true %>
          <div class="flex flex-row w-full gap-2">
            <%= f.input :zip, required: true, input_html: { size: 6, maxlength: 6 }, wrapper_html: { class: "w-24" } %>
            <%= f.input :city, required: true, wrapper_html: { class: "grow" } %>
          </div>
          <%= f.input :country_code, required: true, as: :select, collection: countries_collection %>
          <%= f.input :emails, as: :string, required: true %>
          <%= f.input :phones, as: :string, required: true %>
        </div>
      </div>
      <%= render "members/members/form_modes/#{Current.org.member_form_mode}", f: f %>
      <div>
        <legend class="text-lg font-medium text-gray-700 dark:text-gray-300">
          <%= t(".more_info") %>
        </legend>
        <div class="mt-2 space-y-6">
          <% unless Current.org.member_profession_form_mode == "hidden" %>
            <%= f.input :profession, hint: true, required: (Current.org.member_profession_form_mode == "required") %>
          <% end %>
          <% unless Current.org.member_come_from_form_mode == "hidden" %>
            <%= f.input :come_from, as: :text, required: (Current.org.member_come_from_form_mode == "required"), input_html: { rows: 1 } %>
          <% end %>
          <%= f.input :note, as: :text, label: t(".note"), input_html: { rows: 2 } %>
        </div>
      </div>
      <% if Current.org.terms_of_service? %>
        <div class="check_boxes">
          <div class="checkbox">
            <%= f.input :terms_of_service, as: :boolean, label: terms_of_service_label %>
          </div>
        </div>
      <% end %>
      <div class="actions -mt-4 print:hidden">
        <%= f.button :submit, t(".submit") %>
      </div>
    </div>
  <% end %>
  <%= turbo_frame_tag "pricing" do %>
    <% if params.key?(:member) %>
      <%= render partial: "members/members/pricing", locals: { params: member_params.to_unsafe_h } %>
    <% end %>
  <% end %>
</div>
