<h1><%= Newsletter.model_name.human(count: 2) %></h1>

<% if newsletter_unsubscribed? %>
  <div
    class="
      border-1 mb-8 flex flex-wrap items-center justify-center gap-1
      rounded-lg border-dashed border-orange-500 p-2 text-orange-600
      dark:text-orange-400
    "
  >
    <p class="ml-1 grow">
      <%= t(".unsubscribed_html", email: current_session.email) %>
    </p>
    <%= button_to t(".subscribe"), members_email_suppression_path, method: :delete, class: "btn btn-sm", data: { turbo: false } %>
  </div>
<% end %>

<section>
  <ul id="newsletters" class="mt-4 flex flex-col gap-6">
    <%= render @newsletters %>
  </ul>

  <% if @next_offset %>
    <%= render "show_more" %>
  <% end %>
</section>
