<h1 class="flex justify-between items-center">
  <%= Delivery.model_name.human(count: 2) %>
  <%= render "members/calendars/subscribe_button" %>
</h1>

<% if @next_basket %>
  <section>
    <h2><%= t(".next_delivery") %></h2>
    <ul class="mt-4 flex flex-col gap-4">
      <li class="w-full"><%= render @next_basket %></li>
    </ul>

    <% if @next_basket&.depot&.public_note? %>
      <h3 class="mt-4 text-base font-medium text-gray-900 dark:text-gray-100">
        <%= t(".depot_note", depot: @next_basket.depot.public_name) %>
      </h3>
      <div class="mt-2"><%= @next_basket.depot.public_note %></div>
    <% end %>
  </section>
<% end %>

<section>
  <h2><%= t(".future_deliveries") %></h2>
  <% if @future_baskets.empty? %>
    <p class="empty text-center italic mt-4"><%= t(".no_future_deliveries") %></p>
  <% else %>
    <ul class="mt-4 flex flex-col gap-4">
      <% @future_baskets.each do |basket| %>
        <li class="w-full"><%= render basket %></li>
      <% end %>
    </ul>
  <% end %>
  <% if @future_baskets.provisionally_absent.any? %>
    <div class="flex mt-4 mb-4 text-sm text-gray-400 dark:text-gray-600">
      <span class="left mr-2">*</span>
      <p><%= t(".provisionally_absent_explanation_html") %></p>
    </div>
  <% end %>
</section>

<section>
  <h2><%= t(".past_deliveries") %></h2>
  <% if @past_baskets.empty? %>
    <p class="empty text-center italic mt-4"><%= t(".no_past_deliveries") %></p>
  <% else %>
    <ul class="mt-4 flex flex-col gap-4">
      <% @past_baskets.each do |basket| %>
        <li class="w-full"><%= render basket %></li>
      <% end %>
    </ul>
  <% end %>
</section>
