<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>CSA Admin - Bookmarks</title>
  </head>

  <body>
    <h1>CSA Admin - Bookmarks</h1>

    <dl>
      <% @organizations.each do |org| %>
        <dt><%= org.name %></dt>

        <dd>
          <ul>
            <li>
              <a href="<%= org.production_admin_url %>">
                <%= org.name %> - Admin - Prod
              </a>
            </li>

            <li>
              <a href="<%= org.development_admin_url %>">
                <%= org.name %> - Admin - Dev
              </a>
            </li>

            <li>
              <a href="<%= org.production_members_url %>">
                <%= org.name %> - Members - Prod
              </a>
            </li>

            <li>
              <a href="<%= org.development_members_url %>">
                <%= org.name %> - Members - Dev
              </a>
            </li>
          </ul>
        </dd>
      <% end %>
    </dl>
  </body>
</html>
