<h1>
  <%= t(".title", date: l(@basket.delivery.date).gsub(" ", "&nbsp;")).html_safe %>
</h1>

<section>
  <h2><%= t(".subtitle") %></h2>

  <div class="mb-8 mt-2 space-y-2">
    <p><%= t(".text") %></p>

    <% if Current.org.basket_shift_annual_limit? %>
      <p>
        <%= t(".limit_text_html", count: @basket.membership.basket_shifts_allowance_remaining) %>
      </p>
    <% end %>

    <% if Current.org.basket_shift_deadline_enabled? %>
      <p>
        <%= t(".deadline_text_html", count: Current.org.basket_shift_deadline_in_weeks) %>
      </p>
    <% end %>

    <%= form_for @basket, url: members_basket_basket_shifts_path(@basket), method: :post, html: { class: "mt-8" } do |f| %>
      <div class="input">
        <%= f.label :shift_target_basket_id %>
        <%= f.select :shift_target_basket_id, basket_shift_targets_member_collection(@basket), { include_blank: false } %>
      </div>

      <div class="actions">
        <%= link_to t(".cancel_link"), members_deliveries_path, class: "cancel-link" %>
        <%= f.submit t(".submit") %>
      </div>
    <% end %>
  </div>
</section>
