<div id="<%= dom_id(basket) %>" class="relative p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-900 <%= "text-gray-300 dark:text-gray-700" if basket.absent? %> <%= "bg-gray-200 dark:bg-gray-800" if basket == @next_basket %>">
  <% if basket.can_member_update? %>
    <%= link_to edit_members_basket_path(basket), title: t(".edit"), class: "absolute top-0 right-0 p-2" do %>
      <%= icon "pencil-square", class: "h-5 w-5 text-gray-400 dark:text-gray-600 hover:text-green-500 dark:hover:text-green-500" %>
    <% end %>
  <% end %>
  <ul class="space-y-1.5">
    <li class="flex flex-row items-center">
      <span class="w-6">
        <%= icon "calendar-days", class: "h-6 w-6 text-gray-300 dark:text-gray-700" %>
      </span>
      <span class="ml-2">
        <%= l(basket.delivery.date, format: :medium).titleize %>
      </span>
    </li>
    <li class="flex flex-row items-center">
      <span class="w-6">
        <%= icon "shopping-bag", class: "h-6 w-6 text-gray-300 dark:text-gray-700" %>
      </span>
      <span class="ml-2">
        <p>
          <%= h basket_description(basket) %>
          <% if basket.trial? %>
            <span class="ml-2 px-2 border border-blue-300 dark:border-blue-700 bg-blue-300 dark:bg-blue-700 text-blue-600 dark:text-blue-400 font-medium rounded-full text-sm">
              <%= Basket.human_attribute_name(:trial) %>
            </span>
          <% end %>
          <% if basket.absent? %>
            <span class="ml-2 px-2 border border-gray-300 dark:border-gray-700 bg-gray-300 dark:bg-gray-700 text-gray-500 font-medium rounded-full text-sm">
              <%= Basket.human_attribute_name(:absent) %>
              <% unless basket.absence_id? %>
                <%= " *" %>
              <% end %>
            </span>
          <% end %>
        </p>
      </span>
    </li>
    <li class="flex flex-row items-center">
      <span class="w-6">
        <%= icon "map", class: "h-6 w-6 text-gray-300 dark:text-gray-700" %>
      </span>
      <span class="ml-2">
        <% depot = basket.depot %>
        <% if depot.full_address %>
          <%= link_to "https://www.google.com/maps?q=#{depot.full_address}", title: depot.full_address, target: :blank, class: "hover:text-green-500" do %>
            <%= h depot.public_name %>
          <% end %>
        <% else %>
          <%= h depot.public_name %>
        <% end %>
      </span>
    </li>
  </ul>
</div>
