<%# locals: (membership:) %>
<% if membership.baskets_annual_price_change.nonzero? %>
  <li class="price-line">
    <span class="font-light">
      <%= t("invoices.pdf.baskets_annual_price_change") %>
    </span>

    <span class="grow text-right whitespace-nowrap tabular-nums">
      <%= cur(membership.baskets_annual_price_change, unit: false) %>
    </span>
  </li>
<% end %>

<% if membership.basket_complements.any? && membership.basket_complements_price.nonzero? %>
  <li class="price-line">
    <span class="font-light">
      <%= MembershipsBasketComplement.model_name.human(count: membership.basket_complements.count) %>
    </span>

    <span class="grow text-right whitespace-nowrap tabular-nums">
      <%= display_price_description(membership.basket_complements_price, membership_basket_complements_price_info(membership)) %>
    </span>
  </li>
<% end %>

<% if membership.basket_complements_annual_price_change.nonzero? %>
  <li class="price-line">
    <span class="font-light">
      <%= t("invoices.pdf.basket_complements_annual_price_change") %>
    </span>

    <span class="grow text-right whitespace-nowrap tabular-nums">
      <%= cur(membership.baskets_annual_price_change, unit: false) %>
    </span>
  </li>
<% end %>

<% if feature?("basket_price_extra") && (membership.basket_price_extra.nonzero? || membership.baskets.any? { |b| b.price_extra.nonzero? }) %>
  <li class="price-line">
    <span class="me-2 font-light">
      <%= Current.org.basket_price_extra_title %>
    </span>

    <span class="grow text-right whitespace-nowrap tabular-nums">
      <% description = baskets_price_extra_info(membership, membership.baskets) %>
      <%= display_price_description(membership.baskets_price_extra, description) %>
    </span>
  </li>
<% end %>

<% if membership.depots_price.nonzero? %>
  <li class="price-line">
    <span class="font-light">
      <%= Depot.model_name.human(count: membership.baskets_count) %>
    </span>

    <span class="grow text-right tabular-nums">
      <%= display_price_description(membership.depots_price, depots_price_info(membership.baskets)) %>
    </span>
  </li>
<% end %>

<% if membership.deliveries_price.nonzero? %>
  <li class="price-line">
    <span class="font-light">
      <%= Delivery.model_name.human(count: membership.baskets_count) %>
    </span>

    <span class="grow text-right tabular-nums">
      <%= display_price_description(membership.deliveries_price, delivery_cycle_price_info(membership.baskets)) %>
    </span>
  </li>
<% end %>

<% if feature?("activity") && membership.activity_participations_annual_price_change.nonzero? %>
  <li class="price-line">
    <span class="font-light">
      <%= t_activity("active_admin.resource.show.activity_participations_annual_price_change") %>
    </span>

    <span class="grow text-right whitespace-nowrap tabular-nums">
      <%= cur(membership.activity_participations_annual_price_change, unit: false) %>
    </span>
  </li>
<% end %>
