<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= [ Current.org.name, t(".title") ].join(" – ") %></title>
    <%= javascript_importmap_tags "members" %>
    <%= stylesheet_link_tag "tailwind", data: { turbo_track: "reload" } %>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render "layouts/members/dark_mode_switch" %>
  </head>
  <body class="members dark:bg-black text-gray-500" data-controller="menu">
    <% if current_member %>
      <div class="flex flex-col md:flex-row md:mx-auto md:max-w-4xl">
        <div class="flex flex-col md:w-80">
          <div>
            <%= render "layouts/members/header" %>
          </div>
          <div class="md:mx-8 hidden md:block flex" data-menu-target="menu">
            <%= render "layouts/members/footer" %>
          </div>
        </div>
        <main class="mt-4 md:mt-48 mb-24 mx-auto px-4 md:pl-0 w-full md:max-w-xl" data-menu-target="body">
          <section class="relative w-full">
            <div class="md:absolute md:-mt-24 w-full md:pr-4">
              <%= render "layouts/members/flashes" %>
            </div>
            <div>
              <%= yield %>
            </div>
          </section>
        </main>
      </div>
    <% else %>
      <div class="flex flex-col mx-4 h-screen md:max-w-xl md:mx-auto">
        <div class="flex grow flex-col">
          <div class="my-auto">
            <header class="flex">
              <div class="mx-auto my-16 print:!my-6">
                <%= link_to Current.org.url do %>
                  <%= image_tag(org_logo_url, alt: "#{Current.org.name} Logo", class: "h-32 w-32 md:h-60 md:w-60 print:!h-16 print:!w-16") %>
                <% end %>
              </div>
            </header>
            <main class="w-full" data-menu-target="body">
              <section class="w-full">
                <%= render "layouts/members/flashes" %>
                <%= yield %>
              </section>
            </main>
          </div>
          <div class="mt-48 flex-none flex print:hidden">
            <%= render "layouts/members/footer" %>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
