<!DOCTYPE html>
<html>
<head>
  <title>Rage de Vert: Page de membre</title>
  <%= stylesheet_link_tag    'members', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navigation' -%>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield -%>

</body>
</html>
